UCF-APR2.4/ftr main/force-app/main/default/flows/Append_Change_Request_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CommentsHistoryVarAssignment</name>
        <label>CommentsHistoryVarAssignment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>CommentsHistoryVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsHistoryFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Comments_History</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>break</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>CommentsHistoryFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot; &quot; + TEXT({!$Flow.CurrentDate}) + &quot; &quot; +  {!$Record.Comments__c} + &apos;&lt;br/&gt;&apos; + &apos;&lt;br/&gt;&apos; + {!$Record.Comments_History__c}</expression>
    </formulas>
    <interviewLabel>Append Change Request Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Append Change Request Comments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Append_Comments_History</name>
        <label>Append Comments History</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Comments_History__c</field>
            <value>
                <elementReference>CommentsHistoryVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CommentsHistoryVarAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sitetracker__Change_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CommentsHistoryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CommentsHistoryFormula</elementReference>
        </value>
    </variables>
</Flow>
