UCF-APR2.4/ftr main/force-app/main/default/flows/Budget_Line_Update_Invoice_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Budget_Line_Quantity</name>
        <label>Set Budget Line Quantity</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>BudgetedQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Budget_Line_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Line_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets budget quantity based on update</description>
        <name>SetNewBudgQuantity</name>
        <label>SetNewBudgQuantity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>BudgetedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Budget_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Approved_Invoice_Quantity</name>
        <label>Subtract Approved Invoice Quantity</label>
        <locationX>264</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>BudgetedQuantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Approved_Invoice_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approved_Invoice_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Budget Line Update Invoice Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget Line Update Invoice Quantity</label>
    <loops>
        <name>Approved_Invoice_Loop</name>
        <label>Approved Invoice Loop</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Approved_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subtract_Approved_Invoice_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Unapproved_Line_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Budget_Line_Loop</name>
        <label>Budget Line Loop</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Matching_Budget_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Budget_Line_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Approved_Invoice_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Unapproved_Line_Loop</name>
        <label>Unapproved Line Loop</label>
        <locationX>176</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_Unapproved_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updateunapproved</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approved_Invoice_Lines</name>
        <label>Get Approved Invoice Lines</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Line_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Code_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Code_Lookup__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget__r.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cost_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cost_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Budget_Lines</name>
        <label>Get Matching Budget Lines</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unapproved_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Account_Code_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Code_Lookup__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cost_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cost_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CR_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unapproved_Invoice_Lines</name>
        <label>Get Unapproved Invoice Lines</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approved_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Code_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Code_Lookup__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget__r.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cost_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cost_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Budgeted_Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updateunapproved</name>
        <label>Updateunapproved</label>
        <locationX>264</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Unapproved_Line_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unapproved_Line_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Budgeted_Quantity__c</field>
            <value>
                <elementReference>BudgetedQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetNewBudgQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
