UCF-APR2.4/ftr main/force-app/main/default/flows/Cancellation_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Order_Cancelled_Email</name>
        <label>Order Cancelled Email</label>
        <locationX>23</locationX>
        <locationY>503</locationY>
        <actionName>Order.Order_Cancelled_email</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vOrdID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Cancellation_Reason</name>
        <label>Post Cancellation Reason</label>
        <locationX>24</locationX>
        <locationY>307</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Status_to_Cancelled</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vOrdID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Cancellation Reason: {!RejectReason} - {!Cancellation_Reason}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RejectComment</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Proceed_or_Cancel</name>
        <label>Proceed or Cancel</label>
        <locationX>24</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cancel_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmCancellation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Reason</targetReference>
            </connector>
            <label>Cancel Order</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RejectionReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reject_Reason__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Cancellation Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancellation Order Flow</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Status_to_Cancelled</name>
        <label>Update Status to Cancelled</label>
        <locationX>24</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Order_Cancelled_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrdID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Stage__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Cancel_Reason</name>
        <label>Cancel Reason</label>
        <locationX>24</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_Cancellation_Reason</targetReference>
        </connector>
        <fields>
            <name>RejectReason</name>
            <choiceReferences>RejectionReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancel Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cancellation_Reason</name>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Cancellation_Screen</name>
        <label>Confirm Cancellation Screen</label>
        <locationX>23</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>ConfirmCancellation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to cancel this order?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Confirm_Cancellation_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>RejectComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
