UCF-APR2.4/ftr main/force-app/main/default/flows/Cases_Routed_to_Agents_with_Appropriate_Skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Skill_Based_Routing</name>
        <label>Skill Based Routing</label>
        <locationX>264</locationX>
        <locationY>950</locationY>
        <actionName>skillsBasedRouting</actionName>
        <actionType>skillsBasedRouting</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>Get_Routing_Configuration.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillIdList</name>
            <value>
                <elementReference>skillIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>skillsBasedRouting</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Skill_Ids</name>
        <label>Add Skill Ids</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>skillIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatenateSkillIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Skills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Subject_contains_current_skill</name>
        <label>Does Subject contains current skill?</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubjectField</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Skills.MasterLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Skill_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Found</name>
        <label>Skill Found</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Get_Routing_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skillIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>concatenateSkillIds</name>
        <dataType>String</dataType>
        <expression>{!skillIds}+&apos;,&apos;+{!Loop_Through_Skills.Id}</expression>
    </formulas>
    <interviewLabel>Cases Routed to Agents with Appropriate Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cases Routed to Agents with Appropriate Skills</label>
    <loops>
        <name>Loop_Through_Skills</name>
        <label>Loop Through Skills</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_Skill_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Subject_contains_current_skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Skill_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_All_Skill_Records</name>
        <label>Get All Skill Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Skills</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Routing_Configuration</name>
        <label>Get Routing Configuration</label>
        <locationX>264</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Based_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skill Based Case Routing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueRoutingConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Skill_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
