UCF-APR2.4/ftr main/force-app/main/default/flows/Case_Creation_Handdler_for_Partner_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GoToCreateOrderOmniscript</name>
        <label>GoToCreateOrderOmniscript</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <actionName>c:ftrNavigateActionURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>URL</name>
            <value>
                <elementReference>CreateOrderOmniscriptURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Case</name>
        <label>Navigate To Case</label>
        <locationX>578</locationX>
        <locationY>1718</locationY>
        <actionName>c:ftrNavigateActionURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>URL</name>
            <value>
                <stringValue>/case/{!Order_Create_Case}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ReturnToCase</name>
        <label>ReturnToCase</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <actionName>c:ftrNavigateActionURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>URL</name>
            <value>
                <stringValue>/quote/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <description>Saleforce ID code for Account SObject</description>
        <name>AccountSObjectCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <name>DocumentStatusSigned</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Signed</stringValue>
        </value>
    </constants>
    <constants>
        <name>NeedTosSingScheduleMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The contract Document Status must be Signed before ordering can start</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrderCaseCaseOriginValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Channel Partner</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrderCasePriorityValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrderCaseRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner_Support_Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrderCaseRelatedToValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrderCaseStatusValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <constants>
        <description>Salesforce ID Code for Order Records</description>
        <name>QuoteSObjectCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0Q0</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Can_Partner_Create_Orders</name>
        <label>Can Partner Create Orders</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Contact_Partner_Support_Team_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_Create_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentUserData.ftr_AllowOrderCreation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Product_Signed_Schedule</targetReference>
            </connector>
            <label>Can Create Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Product_Signed_Schedule</name>
        <label>Has Product Signed Schedule</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>GoToCreateOrderOmniscript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Signed Product Scheduled and FSA</defaultConnectorLabel>
        <rules>
            <name>Not_Signed_Product_Schedule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scheduled_Contracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Frontier_Services_Agreement_Contract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SignProductScheduleMessageScreen</targetReference>
            </connector>
            <label>Not Signed Product Schedule or FSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>SObjectTypeByCodeId</name>
        <label>SObjectTypeByCodeId</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSObjectTypebyId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountSObjectCode</elementReference>
                </rightValue>
            </conditions>
            <label>IsAccount</label>
        </rules>
        <rules>
            <name>IsQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSObjectTypebyId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteSObjectCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCurrentUserData</targetReference>
            </connector>
            <label>IsQuote</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CasePriorityValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseStatusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contacts</name>
        <collectionReference>AccountContacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderCaseAccountContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Data.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Get the 3 first char of the id to determine the SobjectType</description>
        <name>CurrentSObjectTypebyId</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <interviewLabel>Case Creation for Partner User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Handdler for Partner User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create New Case For Order Creation</description>
        <name>Order_Create_Case</name>
        <label>Create Case to Attend Order Creation</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Navigate_To_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Quote_Data.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>OrderCaseContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OrderCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Quote_Data.Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>OrderCaseCaseOriginValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>OrderCasePriorityValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To__c</field>
            <value>
                <elementReference>OrderCaseRelatedToValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>OrderCaseStatusValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OrderCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AccountContacts</name>
        <label>AccountContacts</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCaseScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Data.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Frontier_Services_Agreement_Contract</name>
        <label>Get Frontier_Services_Agreement Contract</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_Partner_Create_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentStatusSigned</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Frontier_Services_Agreement_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Data.AccountId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>ProductScheduleRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Frontier_Services_Agreement_RecordType</name>
        <label>Get Frontier_Services_Agreement RecordType</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduled_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frontier_Services_Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Schedule_RecordType</name>
        <label>Get Product Schedule RecordType</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Frontier_Services_Agreement_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product_Schedule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Data</name>
        <label>Get Quote Data</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Schedule_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Partner Support Request record type Id</description>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderCaseRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Contracts</name>
        <label>Get Scheduled Contracts</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Frontier_Services_Agreement_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentStatusSigned</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Schedule_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Data.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>ProductScheduleRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentUserData</name>
        <label>GetCurrentUserData</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contact_Partner_Support_Team_Screen</name>
        <label>Contact Partner Support Team Screen</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>NotAuthorizedScreenMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!NotAuthorizedMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit Order Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateCaseScreen</name>
        <label>CreateCaseScreen</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Order_Create_Case</targetReference>
        </connector>
        <fields>
            <name>CaseInformationTxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Case Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateCaseScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateCaseScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseNumberTxt</name>
                    <fieldText>&lt;p&gt;Case Number&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderBlankSpace1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderAccountNameTxt</name>
                    <fieldText>&lt;p&gt;Account Name&lt;/p&gt;&lt;p&gt;{!Get_Quote_Data.Opportunity.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderCaseOpportunityNameTxt</name>
                    <fieldText>&lt;p&gt;Opportunity&lt;/p&gt;&lt;p&gt;{!Get_Quote_Data.Opportunity.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderCaseContactName</name>
                    <choiceReferences>Contacts</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Contacts</elementReference>
                    </defaultValue>
                    <fieldText>Contact Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateCaseScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderCasePriorityTxt</name>
                    <fieldText>&lt;p&gt;Priority&lt;/p&gt;&lt;p&gt;{!OrderCasePriorityValue}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderCaseStatusTxt</name>
                    <fieldText>&lt;p&gt;Status&lt;/p&gt;&lt;p&gt;{!OrderCaseStatusValue}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderRelatedToTxt</name>
                    <fieldText>&lt;p&gt;Related To&lt;/p&gt;&lt;p&gt;{!OrderCaseRelatedToValue}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderCaseOriginTxt</name>
                    <fieldText>&lt;p&gt;Case Origin&lt;/p&gt;&lt;p&gt;{!OrderCaseCaseOriginValue}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderCaseRecordTypeTxt</name>
                    <fieldText>&lt;p&gt;Record Type&lt;/p&gt;&lt;p&gt;{!Get_Record_Type_Id.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderCaseOwnerTxt</name>
                    <fieldText>&lt;p&gt;Case Owner&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Partner Support Team&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CreateCaseScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateCaseScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OderCaseDescripInformationTxt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Description Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OrderCaseSubject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>OrderCaseSubjectDefaultValue</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OrderCaseDescription</name>
                    <defaultValue>
                        <stringValue>{!OrderCaseDescriptionDefaultValueLine1}
{!OrderCaseDescriptionDefaultValueLine2}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SignProductScheduleMessageScreen</name>
        <label>SignProductScheduleMessageScreen</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReturnToCase</targetReference>
        </connector>
        <fields>
            <name>SignPnroductScheduleShowMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!NeedTosSingScheduleMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SObjectTypeByCodeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateOrderOmniscriptURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/omniwrapper?c__target=c:CPQCreateOrderEnglish&amp;c__layout=Lightning&amp;c__ContextId={!recordId}</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NotAuthorizedMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not authorized to self-order, click on &quot;Submit Order Request&quot; button to engage the Partner Support Team to perform contract steps on your behalf</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderCaseDescriptionDefaultValueLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Order Request - {!Get_Quote_Data.Opportunity.Name}</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderCaseDescriptionDefaultValueLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Portal User -{!$User.LastName}, {!$User.FirstName}  is not authorized to self-order, sending request to Partner Support Team</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderCaseSubjectDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Order Request - {!Get_Quote_Data.Opportunity.Name}</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductScheduleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>currentRecordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
