UCF-APR2.4/ftr main/force-app/main/default/flows/CONTACT_Massini_Contact_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>IsNew</name>
        <label>IsNew?</label>
        <locationX>490</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MQO_to_False</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Not_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MQO_to_False</targetReference>
            </connector>
            <label>Not New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forMQODateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>forNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forNullDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>CONTACT: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTACT: Massini Contact Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_MQO_Date</name>
        <label>Set MQO Date</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>MQO_Date__c</field>
            <value>
                <elementReference>forMQODateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_MQO_to_False</name>
        <label>Set MQO to False</label>
        <locationX>490</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>MQO_Date__c</field>
            <value>
                <elementReference>forNullDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQO_Lead__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_MQO_Date</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>MQO_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Conversion_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <filters>
            <field>Conversion_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Form fill</stringValue>
            </value>
        </filters>
        <filters>
            <field>Conversion_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cart Submission</stringValue>
            </value>
        </filters>
        <filters>
            <field>MQO_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ContactDelayedUpdate</name>
            <connector>
                <targetReference>IsNew</targetReference>
            </connector>
            <label>ContactDelayedUpdate</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
