UCF-APR2.4/ftr main/force-app/main/default/flows/Copy_Site_field_Company_Code_to_Project_field_Company.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Flow to copy Site field &quot;Company_Code__c&quot; value down to Project field &quot;Company__c&quot; when project template is not &quot;Core&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Copy Site field Company Code to Project field Company {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Site field Company Code to Project field Company</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Site</name>
        <label>Get Site</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sitetracker__Site__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Get_Site.Company_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operating_Area__c</field>
            <value>
                <elementReference>Get_Site.Operating_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Site</targetReference>
        </connector>
        <filterLogic>NOT(1)</filterLogic>
        <filters>
            <field>sitetracker__Project_Template__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Core</stringValue>
            </value>
        </filters>
        <object>sitetracker__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
