UCF-APR2.4/ftr main/force-app/main/default/flows/Create_Planned_Pole_Inspection_From_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Creates a planned Pole Inspection from a Site</description>
    <interviewLabel>Create Planned Pole Inspection From Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Planned Pole Inspection From Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Pole Inspection</description>
        <name>Create_Pole_Inspection</name>
        <label>Create Pole Inspection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Due_On__c</field>
            <value>
                <elementReference>$Record.Next_Inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pole__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reading_By_Company__c</field>
            <value>
                <elementReference>$Record.Inspection_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <object>Meter_Reading__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Unchecks &quot;Create Pole Inspection&quot; checkbox.</description>
        <name>Uncheck_Create_Pole_Inspection</name>
        <label>Uncheck &quot;Create Pole Inspection&quot;</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Pole_Inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>Create_Pole_Inspection__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Uncheck_Create_Pole_Inspection</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Pole_Inspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sitetracker__Site__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
