UCF-APR2.4/ftr main/force-app/main/default/flows/DGF_Create_Multiple_Sites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_The_Sites</name>
        <label>Create The Sites</label>
        <locationX>47</locationX>
        <locationY>328</locationY>
        <actionName>DGF_Create_Multiple_Sites</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>Params</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Num_Sites</name>
        <label>Assign Num Sites</label>
        <locationX>50</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>Number_of_Sites</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Sites_to_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parameters</name>
        <label>Set Parameters</label>
        <locationX>50</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>Params</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Number_of_Sites</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Params</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dgf</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_The_Sites</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ParamCSV</name>
        <dataType>String</dataType>
        <expression>&apos;Number_of_Sites_to_Create,dgf&apos;</expression>
    </formulas>
    <interviewLabel>DGF - Create Multiple Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DGF - Create Multiple Sites</label>
    <processType>Flow</processType>
    <screens>
        <name>Create_Sites</name>
        <label>Create Sites</label>
        <locationX>47</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Num_Sites</targetReference>
        </connector>
        <fields>
            <name>Number_of_Sites_to_Create</name>
            <dataType>Number</dataType>
            <fieldText>Number of Sites to Create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_Sites</startElementReference>
    <status>Active</status>
    <variables>
        <name>dgf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Number_of_Sites</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Params</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>params2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ParamCSV</elementReference>
        </value>
    </variables>
</Flow>
