UCF-APR2.4/ftr main/force-app/main/default/flows/DGF_Complete_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Oversub</name>
        <label>Email Oversub</label>
        <locationX>331</locationX>
        <locationY>304</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Oversub_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oversubscription</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>osubemail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Oversub_Email</name>
        <label>Assign Oversub Email</label>
        <locationX>183</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>osubemail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UNI.Oversubscription_Authorizers_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Oversub</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Stage</name>
        <label>What Stage?</label>
        <locationX>29</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Stage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_1</targetReference>
            </connector>
            <label>Stage 0</label>
        </rules>
        <rules>
            <name>Stage_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UNIs_with_Oversub</targetReference>
            </connector>
            <label>Stage 1</label>
        </rules>
    </decisions>
    <interviewLabel>DGF - Complete Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DGF - Complete Form</label>
    <loops>
        <name>Loop_through_UNIs</name>
        <label>Loop through UNIs</label>
        <locationX>29</locationX>
        <locationY>302</locationY>
        <assignNextValueToReference>UNI</assignNextValueToReference>
        <collectionReference>UNIs_with_oversub</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Oversub_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_UNIs_with_Oversub</name>
        <label>Get UNIs with Oversub</label>
        <locationX>29</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_UNIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DGF_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgf</elementReference>
            </value>
        </filters>
        <filters>
            <field>Oversubscription_Authorizers_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>UNI__c</object>
        <outputReference>UNIs_with_oversub</outputReference>
        <queriedFields>Oversubscription_Authorizers_Email__c</queriedFields>
        <sortField>Oversubscription_Authorizers_Email__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_DGF</name>
        <label>Lookup DGF</label>
        <locationX>30</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgf</elementReference>
            </value>
        </filters>
        <object>DGF__c</object>
        <outputAssignments>
            <assignToReference>stage</assignToReference>
            <field>Stage_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Stage_to_1</name>
        <label>Set Stage to 1</label>
        <locationX>185</locationX>
        <locationY>110</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgf</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>DGF__c</object>
    </recordUpdates>
    <startElementReference>Lookup_DGF</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>Oversub_Email_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The Data Gathering Form has been completed.</text>
    </textTemplates>
    <variables>
        <name>dgf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Oversub Email</description>
        <name>osubemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UNI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UNI__c</objectType>
    </variables>
    <variables>
        <name>UNIs_with_oversub</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UNI__c</objectType>
    </variables>
</Flow>
