UCF-APR2.4/ftr main/force-app/main/default/flows/DID_Location_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <interviewLabel>DID Location - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DID Location - UpdateV2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DID_Number</name>
        <label>Get DID Number</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_MDN_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DIDLocationDetailsId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DID_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MDN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ftr_DID_Number_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MDN_Checkbox</name>
        <label>Update MDN Checkbox</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_MDN_Number_Info_DID_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DIDLocationDetailsId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_DID_Number.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MDN_Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ftr_DID_Number_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MDN_Number_Info_DID_Location</name>
        <label>Update MDN Number Info - DID Location</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>DIDMDNNUmberInfo__c</field>
            <value>
                <elementReference>Get_DID_Number.DIDNumberInfo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DID_Number_Info__c</field>
            <value>
                <elementReference>Get_DID_Number.Did_Info_Value_DPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DID_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MDN__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ftr_DID_Location_Details__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
