UCF-APR2.4/ftr main/force-app/main/default/flows/E_Reach_Solution_Flow_01.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Alpha_Pricing</name>
        <label>Assign Alpha Pricing</label>
        <locationX>372</locationX>
        <locationY>1480</locationY>
        <assignmentItems>
            <assignToReference>selectedMRC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alphaMrc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedNRC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alphaNRC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EReach_Connection_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Beta_Pricing</name>
        <label>Assign Beta Pricing</label>
        <locationX>375</locationX>
        <locationY>1564</locationY>
        <assignmentItems>
            <assignToReference>selectedMRC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>betaMRC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedNRC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>betaNRC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EReach_Connection_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gamma_Pricing</name>
        <label>Assign Gamma Pricing</label>
        <locationX>377</locationX>
        <locationY>1648</locationY>
        <assignmentItems>
            <assignToReference>selectedMRC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gammaMRC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedNRC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gammaNRC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EReach_Connection_Pricing</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Alpha</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Alpha_Display}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alpha</stringValue>
        </value>
    </choices>
    <choices>
        <name>Beta</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Beta_Display}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Beta</stringValue>
        </value>
    </choices>
    <choices>
        <name>EIA</name>
        <choiceText>EIA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EIA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ethernet</name>
        <choiceText>Ethernet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ethernet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gamma</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Gamma_Display}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gamma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gold</name>
        <choiceText>Gold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Platinum</name>
        <choiceText>Platinum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Platinum</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_Bandwith</name>
        <choiceText>Select Bandwith</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Select_EVC_Level</name>
        <choiceText>Select EVC Level</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_Term_Length</name>
        <choiceText>Select Term Length</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Select_Tier</name>
        <choiceText>Select Tier</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Select_Type</name>
        <choiceText>Select Type</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Silver</name>
        <choiceText>Silver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Silver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tier_1</name>
        <choiceText>Tier 1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Tier_2</name>
        <choiceText>Tier 2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X100_Mb</name>
        <choiceText>100 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X10_Mb</name>
        <choiceText>10 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X15_Mb</name>
        <choiceText>15 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1_Gb</name>
        <choiceText>1 Gb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1_Mb</name>
        <choiceText>1 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1_Year</name>
        <choiceText>1 Year</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X200_Mb</name>
        <choiceText>200 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>200.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X20_Mb</name>
        <choiceText>20 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2_Mb</name>
        <choiceText>2 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2_Years</name>
        <choiceText>2 Years</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X300_Mb</name>
        <choiceText>300 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>300.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X30_Mb</name>
        <choiceText>30 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3_Mb</name>
        <choiceText>3 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3_Years</name>
        <choiceText>3 Years</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X400_Mb</name>
        <choiceText>400 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>400.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X40_Mb</name>
        <choiceText>40 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>40.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4_Mb</name>
        <choiceText>4 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X500_Mb</name>
        <choiceText>500 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>500.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X50_Mb</name>
        <choiceText>50 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5_Mb</name>
        <choiceText>5 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5_Years</name>
        <choiceText>5 Years</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X600_Mb</name>
        <choiceText>600 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>600.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X60_Mb</name>
        <choiceText>60 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6_Mb</name>
        <choiceText>6 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X700_Mb</name>
        <choiceText>700 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>700.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X70_Mb</name>
        <choiceText>70 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>70.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7_Mb</name>
        <choiceText>7 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X800_Mb</name>
        <choiceText>800 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>800.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X80_Mb</name>
        <choiceText>80 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>80.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X8_Mb</name>
        <choiceText>8 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X900_Mb</name>
        <choiceText>900 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>900.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X90_Mb</name>
        <choiceText>90 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X9_Mb</name>
        <choiceText>9 Mb</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Any_Vendors_Available</name>
        <label>Are Any Vendors Available</label>
        <locationX>368</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>No_Vendors_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Vendors_Are_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>alphaMrc</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>betaMRC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gammaMRC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FTR_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Alpha_Available</name>
        <label>Is Alpha Available</label>
        <locationX>363</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Is_Beta_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Alpha_Is_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Provider_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alpha</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alpha</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alpha</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alpha_Prices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Beta_Available</name>
        <label>Is Beta Available</label>
        <locationX>362</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Is_Gamma_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Beta_Is_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Provider_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Beta_Prices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Gamma_Available</name>
        <label>Is Gamma Available</label>
        <locationX>367</locationX>
        <locationY>1039</locationY>
        <defaultConnector>
            <targetReference>Are_Any_Vendors_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Gamma_Is_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Provider_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gamma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gamma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gamma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gamma_Prices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ready_for_Query</name>
        <label>Is Ready for Query</label>
        <locationX>206</locationX>
        <locationY>826</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bandwidth</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EVC_Level</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Term</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Alpha_Available</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bandwidth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EVC_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_Reach_Flow_Screen_01</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Vendor</name>
        <label>Which Vendor</label>
        <locationX>207</locationX>
        <locationY>1477</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Assign_Alpha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chosen_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alpha</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alpha_Pricing</targetReference>
            </connector>
            <label>Alpha</label>
        </rules>
        <rules>
            <name>Assign_Beta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chosen_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Beta_Pricing</targetReference>
            </connector>
            <label>Beta</label>
        </rules>
        <rules>
            <name>Assign_Gamma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chosen_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gamma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gamma_Pricing</targetReference>
            </connector>
            <label>Gamma</label>
        </rules>
    </decisions>
    <formulas>
        <name>Alpha_Display</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;div style=\&quot;margin:-10px 0 10px 10px;\&quot;&gt;&apos; &amp; IF({!alphaMrc} &gt; 0, &quot;Alpha MRC: $&quot; &amp; TEXT({!alphaMrc}) &amp; &quot;.00&lt;br /&gt;Alpha NRC: $&quot; &amp; TEXT({!alphaNRC}) &amp; &quot;.00&lt;br /&gt;&lt;br /&gt;&quot;, &quot;Alpha vendor not available for this address&lt;br /&gt;&lt;br /&gt;&quot;) &amp; &apos;&lt;/div&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>Beta_Display</name>
        <dataType>String</dataType>
        <expression>IF({!betaMRC} &gt; 0, &quot;Beta MRC: $&quot; &amp; TEXT({!betaMRC}) &amp; &quot;.00&lt;br /&gt;Beta NRC: $&quot; &amp; TEXT({!betaNRC}) &amp; &quot;.00&lt;br /&gt;&lt;br /&gt;&quot;, &quot;Beta vendor not available for this address&lt;br /&gt;&lt;br /&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Gamma_Display</name>
        <dataType>String</dataType>
        <expression>IF({!gammaMRC} &gt; 0, &quot;Gamma MRC: $&quot; &amp; TEXT({!gammaMRC}) &amp; &quot;.00&lt;br /&gt;Gamma NRC: $&quot; &amp; TEXT({!gammaNRC}) &amp; &quot;.00&lt;br /&gt;&lt;br /&gt;&quot;, &quot;Gamma vendor not available for this address&lt;br /&gt;&lt;br /&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SumMRC</name>
        <dataType>Currency</dataType>
        <expression>{!ftrEvcPrice} + {!ftrPrice} + {!selectedMRC}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>E-Reach Solution Flow 01 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-Reach Solution Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Address</name>
        <label>Get Address</label>
        <locationX>54</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Address_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EReachName</elementReference>
            </value>
        </filters>
        <object>E_Reach__c</object>
        <outputAssignments>
            <assignToReference>ereachAddress</assignToReference>
            <field>Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Data</name>
        <label>Get Address Data</label>
        <locationX>52</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>E_Reach_Flow_Screen_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ereachAddress</elementReference>
            </value>
        </filters>
        <object>E_Reach_Address__c</object>
        <outputAssignments>
            <assignToReference>E_Reach_Address_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Provider_1</assignToReference>
            <field>Provider_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Provider_2</assignToReference>
            <field>Provider_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Provider_3</assignToReference>
            <field>Provider_3__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Alpha_Prices</name>
        <label>Get Alpha Prices</label>
        <locationX>516</locationX>
        <locationY>828</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Beta_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bandwidth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Alias__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alpha</stringValue>
            </value>
        </filters>
        <object>E_Reach_Vendor_Price__c</object>
        <outputAssignments>
            <assignToReference>alphaMrc</assignToReference>
            <field>MRC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>alphaNRC</assignToReference>
            <field>NRC__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Beta_Prices</name>
        <label>Get Beta Prices</label>
        <locationX>517</locationX>
        <locationY>937</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Gamma_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bandwidth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Alias__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Beta</stringValue>
            </value>
        </filters>
        <object>E_Reach_Vendor_Price__c</object>
        <outputAssignments>
            <assignToReference>betaMRC</assignToReference>
            <field>MRC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>betaNRC</assignToReference>
            <field>NRC__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_FTR_EVC_Price</name>
        <label>Get FTR EVC Price</label>
        <locationX>368</locationX>
        <locationY>1394</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Vendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bandwidth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EVC_Level</elementReference>
            </value>
        </filters>
        <object>E_Reach_FTR_EVC_Price__c</object>
        <outputAssignments>
            <assignToReference>ftrEvcPrice</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_FTR_Price</name>
        <label>Get FTR Price</label>
        <locationX>369</locationX>
        <locationY>1301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FTR_EVC_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bandwidth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <object>E_Reach_FTR_Price__c</object>
        <outputAssignments>
            <assignToReference>ftrPrice</assignToReference>
            <field>Price__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Gamma_Prices</name>
        <label>Get Gamma Prices</label>
        <locationX>521</locationX>
        <locationY>1040</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Vendors_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bandwidth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bandwidth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Alias__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gamma</stringValue>
            </value>
        </filters>
        <object>E_Reach_Vendor_Price__c</object>
        <outputAssignments>
            <assignToReference>gammaMRC</assignToReference>
            <field>MRC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>gammaNRC</assignToReference>
            <field>NRC__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_EReach_Connection_Pricing</name>
        <label>Update EReach Connection Pricing</label>
        <locationX>613</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>Final_and_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EReachName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bandwidth__c</field>
            <value>
                <elementReference>Bandwidth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frontier_EVC_Level__c</field>
            <value>
                <elementReference>EVC_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frontier_EVC_Price__c</field>
            <value>
                <elementReference>ftrEvcPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frontier_Price__c</field>
            <value>
                <elementReference>ftrPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRC__c</field>
            <value>
                <elementReference>selectedMRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NRC__c</field>
            <value>
                <elementReference>selectedNRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Chosen_Vendor</elementReference>
            </value>
        </inputAssignments>
        <object>E_Reach__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Vendor</name>
        <label>Pricing Choices</label>
        <locationX>44</locationX>
        <locationY>1474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Vendor</targetReference>
        </connector>
        <fields>
            <name>Prices</name>
            <fieldText>Type: {!Type}
Term: {!Term}
Bandwidth: {!Bandwidth}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chosen_Vendor</name>
            <choiceReferences>Alpha</choiceReferences>
            <choiceReferences>Beta</choiceReferences>
            <choiceReferences>Gamma</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Choose Vendor&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>E_Reach_Flow_Screen_01</name>
        <label>E-Reach Flow Screen 01</label>
        <locationX>50</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Ready_for_Query</targetReference>
        </connector>
        <fields>
            <name>E_Reach_Address</name>
            <fieldText>E-Reach Address: {!E_Reach_Address_Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Select_Type</choiceReferences>
            <choiceReferences>EIA</choiceReferences>
            <choiceReferences>Ethernet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_Type</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Term</name>
            <choiceReferences>Select_Term_Length</choiceReferences>
            <choiceReferences>X1_Year</choiceReferences>
            <choiceReferences>X2_Years</choiceReferences>
            <choiceReferences>X3_Years</choiceReferences>
            <choiceReferences>X5_Years</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Select_Term_Length</defaultSelectedChoiceReference>
            <fieldText>Term (number of years)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Bandwidth</name>
            <choiceReferences>Select_Bandwith</choiceReferences>
            <choiceReferences>X2_Mb</choiceReferences>
            <choiceReferences>X3_Mb</choiceReferences>
            <choiceReferences>X4_Mb</choiceReferences>
            <choiceReferences>X5_Mb</choiceReferences>
            <choiceReferences>X6_Mb</choiceReferences>
            <choiceReferences>X7_Mb</choiceReferences>
            <choiceReferences>X8_Mb</choiceReferences>
            <choiceReferences>X9_Mb</choiceReferences>
            <choiceReferences>X10_Mb</choiceReferences>
            <choiceReferences>X20_Mb</choiceReferences>
            <choiceReferences>X30_Mb</choiceReferences>
            <choiceReferences>X40_Mb</choiceReferences>
            <choiceReferences>X50_Mb</choiceReferences>
            <choiceReferences>X60_Mb</choiceReferences>
            <choiceReferences>X70_Mb</choiceReferences>
            <choiceReferences>X80_Mb</choiceReferences>
            <choiceReferences>X90_Mb</choiceReferences>
            <choiceReferences>X100_Mb</choiceReferences>
            <choiceReferences>X200_Mb</choiceReferences>
            <choiceReferences>X300_Mb</choiceReferences>
            <choiceReferences>X400_Mb</choiceReferences>
            <choiceReferences>X500_Mb</choiceReferences>
            <choiceReferences>X600_Mb</choiceReferences>
            <choiceReferences>X700_Mb</choiceReferences>
            <choiceReferences>X800_Mb</choiceReferences>
            <choiceReferences>X900_Mb</choiceReferences>
            <choiceReferences>X1_Gb</choiceReferences>
            <choiceReferences>X1_Mb</choiceReferences>
            <choiceReferences>X15_Mb</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Select_Bandwith</defaultSelectedChoiceReference>
            <fieldText>Bandwidth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>EVC_Level</name>
            <choiceReferences>Select_EVC_Level</choiceReferences>
            <choiceReferences>Silver</choiceReferences>
            <choiceReferences>Gold</choiceReferences>
            <choiceReferences>Platinum</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_EVC_Level</defaultSelectedChoiceReference>
            <fieldText>EVC Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_and_End</name>
        <label>Final</label>
        <locationX>798</locationX>
        <locationY>1567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final</name>
            <fieldText>Type: {!Type}
Term: {!Term}
Bandwidth: {!Bandwidth}

Vendor MRC: {!selectedMRC}
Vendor NRC: {!selectedNRC}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Vendors_Available</name>
        <label>No Vendors Available</label>
        <locationX>523</locationX>
        <locationY>1164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Vendors_Text</name>
            <fieldText>No vendors are available with the combination of the address, term, and bandwidth selected. Some vendors don&apos;t offer some terms. Please click the Previous button to return to the beginning of this wizard and try selecting a different term.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Address</startElementReference>
    <status>Active</status>
    <variables>
        <name>alphaMrc</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>alphaNRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Available_Providers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>betaMRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>betaNRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>E_Reach_Address_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ereachAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EReachName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ER-00000370</stringValue>
        </value>
    </variables>
    <variables>
        <name>ftrEvcPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ftrPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>gammaMRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>gammaNRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Provider_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Provider_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Provider_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedNRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
