UCF-APR2.4/ftr main/force-app/main/default/flows/FAW_Broadband_Order_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Default_Approval_Process</name>
        <label>Default Approval Process</label>
        <locationX>840</locationX>
        <locationY>241</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>scn_Approval_Submitted_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Default_Approval_Process_0</name>
        <label>Default Approval Process</label>
        <locationX>838</locationX>
        <locationY>128</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>scn_Approval_Submitted_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Default_Approval_Process_0_0</name>
        <label>Default Approval Process</label>
        <locationX>830</locationX>
        <locationY>17</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>scn_Approval_Submitted_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FAW_BB_Approval_Process</name>
        <label>FAW + BB Approval Process</label>
        <locationX>1494</locationX>
        <locationY>388</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>scn_Approval_Submitted_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>vBBApproverID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Frontier_Anyware_Broadband</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Approver</name>
        <label>Assign Approver</label>
        <locationX>1185</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>vBBApproverID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_Order.Broadband_Queue_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dp_Order_Type_Check</name>
        <label>Order Type Check</label>
        <locationX>620</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>Default_Approval_Process_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Disconnect_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDisconnect_RecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vOrderRecType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Approval_Process_0</targetReference>
            </connector>
            <label>Disconnect Orders</label>
        </rules>
        <rules>
            <name>UcaaS_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frontier AnyWare UCaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDisconnect_RecType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vOrderRecType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Information_Check</targetReference>
            </connector>
            <label>UcaaS Orders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Out_of_Franchise</name>
        <label>Is Out of Franchise?</label>
        <locationX>449</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>UcaaS_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Out_of_Franchise</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>vOrderOutOfFranchise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frontier AnyWare UCaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OOF_Case</targetReference>
            </connector>
            <label>Yes - Out of Franchise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Information_Check</name>
        <label>Location Information Check</label>
        <locationX>112</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Is_Out_of_Franchise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Location_Info_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLocationInformationCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frontier AnyWare UCaaS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_Message_0</targetReference>
            </connector>
            <label>Location Info Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>UcaaS_Approval_Process</name>
        <label>UCaaS Approval Process</label>
        <locationX>584</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Default_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FAW_Broadband_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frontier AnyWare UCaaS + Broadband</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUcaaS_Cutover_Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FL_BBApprover</targetReference>
            </connector>
            <label>FAW Broadband Approval Process</label>
        </rules>
    </decisions>
    <interviewLabel>FAW Broadband Order Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAW Broadband Order Approval</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1183</locationX>
        <locationY>377</locationY>
        <assignNextValueToReference>Sobj_Order</assignNextValueToReference>
        <collectionReference>LIst_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FAW_BB_Approval_Process</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FL_BBApprover</name>
        <label>Get Broadband Queue</label>
        <locationX>946</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>LIst_Orders</outputReference>
        <queriedFields>Broadband_Queue_Assignment__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Disconnect_RecTypeID</name>
        <label>Lookup_Disconnect_RecTypeID</label>
        <locationX>193</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disconnect_Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDisconnect_RecType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Order</name>
        <label>Lookup Order</label>
        <locationX>290</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dp_Order_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>vBBApproval</assignToReference>
            <field>Broadband_Queue_Assignment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLocationInformationCheck</assignToReference>
            <field>Location_Info_Exists__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderOutOfFranchise</assignToReference>
            <field>Out_of_Franchise__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vProductType</assignToReference>
            <field>Product_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Product</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderRecType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUcaaS_Cutover_Flag</assignToReference>
            <field>UcaaS_Cutover_Flag__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1228</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This record is currently in an approval process.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_0</name>
        <label>Fault Message</label>
        <locationX>115</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Location information is required for an order to be submitted&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Path_B</name>
        <label>Fault Path B</label>
        <locationX>906</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultPathB</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:72px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fault Path B&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_PathA_0_0</name>
        <label>Fault PathA</label>
        <locationX>743</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultPathA_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:72px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fault Path A&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_PathC</name>
        <label>Fault PathC</label>
        <locationX>1041</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultPathC</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:72px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fault Path C&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_Approval_Submitted_Message</name>
        <label>Approval Submitted Message</label>
        <locationX>1494</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalSubmittedMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This record has been submitted for approval.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Vars</name>
        <label>Show Vars</label>
        <locationX>611</locationX>
        <locationY>625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayVars</name>
            <fieldText>Product: {!Product}
Disconnect RecType:  {!vDisconnect_RecType}
Location Information:  {!vLocationInformationCheck}
OrderID:  {!vOrderID}
Order Record Type:  {!vOrderRecType}
Product Type:  {!vProductType}
RecordTypeName:  {!vRecTypeName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Disconnect_RecTypeID</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_OOF_Case</name>
        <label>Create OOF Case</label>
        <locationX>459</locationX>
        <locationY>586</locationY>
        <flowName>Create_Out_of_Franchise_UCaaS_SIP_Case</flowName>
        <inputAssignments>
            <name>orderId</name>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductType</name>
            <value>
                <elementReference>vProductType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>List_BBCOEMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>LIst_Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sobj_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>sobj_OTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>Sobjc_BBApprovalQueue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>sobjTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>vBBApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBBApproverID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDisconnect_RecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLocationInformationCheck</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderOutOfFranchise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUcaaS_Cutover_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
