UCF-APR2.4/ftr main/force-app/main/default/flows/FAW_UcaaS_Flow_Email_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_Email</name>
        <label>Send Notification Email</label>
        <locationX>1900</locationX>
        <locationY>261</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Members</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NetCOE - Order Number:  {!vOrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vRecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>vSenderEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Email_2</name>
        <label>Send Notification Email</label>
        <locationX>2632</locationX>
        <locationY>569</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Members_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NetCOE - Order Number:  {!vOrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vRecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>vSenderEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Email_2_2</name>
        <label>Send Notification Email</label>
        <locationX>2636</locationX>
        <locationY>996</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Members_0_2</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NetCOE - Order Number:  {!vOrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vRecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>vSenderEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Email_2_2_2</name>
        <label>Send Notification Email</label>
        <locationX>2637</locationX>
        <locationY>840</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Members_0_2_2</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NetCOE - Order Number:  {!vOrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vRecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>vSenderEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>2631</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>vQueue_Member</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QueueMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Member_2</name>
        <label>Get Member</label>
        <locationX>2641</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>vQueue_Member</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QueueMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_User_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Member_2_2</name>
        <label>Get Member</label>
        <locationX>2637</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>vQueue_Member</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QueueMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_User_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_POD_Member</name>
        <label>Get POD Member</label>
        <locationX>1899</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>vQueue_Member</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QueueMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Territory_POD_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Territory_Vars</name>
        <label>Get Territory Vars</label>
        <locationX>825</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>vTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OTA.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Territory_POD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CPECOE_Billing_State</name>
        <label>CPECOE Billing State</label>
        <locationX>1651</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CPECOE_East</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Queue_2_2_2</targetReference>
            </connector>
            <label>CPECOE - East</label>
        </rules>
        <rules>
            <name>CPECOE_Central</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Queue_2</targetReference>
            </connector>
            <label>CPECOE - Central</label>
        </rules>
        <rules>
            <name>CPECOE_West2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Queue_2_2</targetReference>
            </connector>
            <label>CPECOE - West</label>
        </rules>
    </decisions>
    <decisions>
        <name>POD_Null_Check</name>
        <label>POD Null Check</label>
        <locationX>1040</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>Lookup_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>POD_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPOD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_OTAs</targetReference>
            </connector>
            <label>POD is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Check</name>
        <label>Stage Check</label>
        <locationX>338</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HOTCUT_VTRANS_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDCS_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vHOTCUT_Stage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vVTRANS_Stage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>HOTCUT &amp; VTRANS Assignment</label>
        </rules>
        <rules>
            <name>CPECOE_NetCOE_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDCS_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revised CDC Uploaded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNetCOE_Stage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCPECOE_Stage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CPECOE &amp; NetCOE Assignment</label>
        </rules>
    </decisions>
    <formulas>
        <name>AddComma</name>
        <dataType>String</dataType>
        <expression>&apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>CPECOE_Email</name>
        <dataType>String</dataType>
        <expression>CASE({!vBillingStateCode} , 

&quot;AL&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;CT&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;FL&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;GA&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;MS&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;NC&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;NY&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;PA&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;SC&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;TN&quot;,&quot;east_area_cpecsa@ftr.com&quot;,
&quot;WV&quot;,&quot;east_area_cpecsa@ftr.com&quot;,

&quot;IA&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;IL&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;IN&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;MI&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;MN&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;NE&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;OH&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;TX&quot;,&quot;central_area_cpecsa@ftr.com&quot;,
&quot;WI&quot;,&quot;central_area_cpecsa@ftr.com&quot;,

&quot;AZ&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;CA&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;ID&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;MT&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;NM&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;NV&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;OR&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;UT&quot;,&quot;west_area_cpecsa@ftr.com&quot;,
&quot;WA&quot;,&quot;west_area_cpecsa@ftr.com&quot;,

&quot;kevintullos@gmail.com&quot;
)</expression>
    </formulas>
    <formulas>
        <name>EmailMessage</name>
        <dataType>String</dataType>
        <expression>&apos;prod - Order &apos; &amp; {!vOrderNumber} &amp; &apos; is ready for you to perform the next step in the UcaaS Order process.&apos; &amp; &apos; Please go to login.salesforce.com/&apos; &amp; {!vOrderID}  &amp; &apos; to open the order.&apos;</expression>
    </formulas>
    <formulas>
        <name>OrderLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://na39.salesforce.com/&apos;&amp;vOrderID&quot;</expression>
    </formulas>
    <interviewLabel>FAW UcaaS Flow - Email Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAW UcaaS Flow - Email Notifications</label>
    <loops>
        <name>Loop_Thru_Group_Members</name>
        <label>Loop Thru Group Members</label>
        <locationX>1650</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>loop_QueueMembers</assignNextValueToReference>
        <collectionReference>List_QueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_POD_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CPECOE_Billing_State</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Group_Members_0</name>
        <label>Loop Thru Group Members</label>
        <locationX>2376</locationX>
        <locationY>441</locationY>
        <assignNextValueToReference>loop_QueueMembers</assignNextValueToReference>
        <collectionReference>List_QueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Member</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Group_Members_0_2</name>
        <label>Loop Thru Group Members</label>
        <locationX>2400</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>loop_QueueMembers</assignNextValueToReference>
        <collectionReference>List_QueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Member_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Group_Members_0_2_2</name>
        <label>Loop Thru Group Members</label>
        <locationX>2384</locationX>
        <locationY>713</locationY>
        <assignNextValueToReference>loop_QueueMembers</assignNextValueToReference>
        <collectionReference>List_QueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Member_2_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_OTAs</name>
        <label>Loop Thru OTAs</label>
        <locationX>574</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>loop_OTA</assignNextValueToReference>
        <collectionReference>list_OTAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Territory_Vars</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>1438</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>List_QueueMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_1</name>
        <label>Get Group Members</label>
        <locationX>2164</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Group_Members_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>List_QueueMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_1_2</name>
        <label>Get Group Members</label>
        <locationX>2181</locationX>
        <locationY>999</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Group_Members_0_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>List_QueueMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_1_2_2</name>
        <label>Get Group Members</label>
        <locationX>2172</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Group_Members_0_2_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>List_QueueMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Vars_0</name>
        <label>Get Order Vars</label>
        <locationX>125</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OTAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>vAcctID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAccountName</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBillingStateCode</assignToReference>
            <field>BillingStateCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vNetCOE_Stage</assignToReference>
            <field>Broadband_COE_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCPECOE_Stage</assignToReference>
            <field>CPE_COE_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDCS_Stage</assignToReference>
            <field>CPE_DCS_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vHOTCUT_Stage</assignToReference>
            <field>Hot_Cut_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderNumber</assignToReference>
            <field>OrderNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vServiceAddress</assignToReference>
            <field>ShippingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vVTRANS_Stage</assignToReference>
            <field>VoIP_Translations_Stage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_OTAs</name>
        <label>Get OTAs</label>
        <locationX>341</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_OTAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAcctID</elementReference>
            </value>
        </filters>
        <object>ObjectTerritory2Association</object>
        <outputReference>list_OTAs</outputReference>
        <queriedFields>Territory2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_POD</name>
        <label>Get Territory POD</label>
        <locationX>1035</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POD_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTerritoryID</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputAssignments>
            <assignToReference>vPOD</assignToReference>
            <field>POD_Assignment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_POD_0</name>
        <label>Get Territory POD</label>
        <locationX>2134</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueue_Member</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vRecipientEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRecipientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue</name>
        <label>Lookup Queue</label>
        <locationX>1244</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPOD</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue_2</name>
        <label>Lookup Queue</label>
        <locationX>1978</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPE_COE_Central</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue_2_2</name>
        <label>Lookup Queue</label>
        <locationX>1990</locationX>
        <locationY>999</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members_1_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPE_COE_West</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue_2_2_2</name>
        <label>Lookup CPECOE East Queue</label>
        <locationX>1986</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members_1_2_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPE_COE_East</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>2860</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_Email_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueue_Member</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vRecipientEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRecipientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_2</name>
        <label>Lookup User</label>
        <locationX>2863</locationX>
        <locationY>996</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_Email_2_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueue_Member</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vRecipientEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRecipientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_2_2</name>
        <label>Lookup User</label>
        <locationX>2868</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_Email_2_2_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueue_Member</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vRecipientEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRecipientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_Vars_0</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello,

The following UCaaS order is ready for you to perform the next step:

Account Name:  {!vAccountName}

Order Number:  {!vOrderNumber}

Service Address: {!vServiceAddress}

Order link:  {!OrderLink}</text>
    </textTemplates>
    <variables>
        <name>list_OTAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>List_QueueMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>loop_OTA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>loop_QueueMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillingStateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCPECOE_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDCS_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHOTCUT_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNetCOE_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPOD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueue_Member</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecipientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecipientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSenderEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vServiceAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vVTRANS_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
