UCF-APR2.4/ftr main/force-app/main/default/flows/Field_Asset_Flow_Create_and_Link_a_Child_Lease.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <constants>
        <description>Site_Lease</description>
        <name>SiteLeaseDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site_Lease</stringValue>
        </value>
    </constants>
    <description>Field Asset Flow: Create and Link a Child Lease</description>
    <interviewLabel>Field Asset Flow: Create and Link a Child Lease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Field Asset Flow: Create and Link a Child Lease</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Child Lease</description>
        <name>Create_Child_Lease</name>
        <label>Create Child Lease</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Lease_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.sitetracker__Site__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Site_Lease_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Lease_Type__c</field>
            <value>
                <stringValue>Pole</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Master_Lease_Agreement__c</field>
            <value>
                <elementReference>$Record.Master_Lease_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Site__c</field>
            <value>
                <elementReference>$Record.sitetracker__Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Tenant__c</field>
            <value>
                <elementReference>$Record.Master_Lease_Agreement__r.sitetracker__Tenant__c</elementReference>
            </value>
        </inputAssignments>
        <object>sitetracker__Lease__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Site Lease Record Type</description>
        <name>Get_Site_Lease_Record_Type</name>
        <label>Get Site Lease Record Type</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Child_Lease</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteLeaseDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sitetracker__Lease__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set Lease Field</description>
        <name>Set_Lease_Field</name>
        <label>Set Lease Field</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Lease__c</field>
            <value>
                <elementReference>Create_Child_Lease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Site_Lease_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lease__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Master_Lease_Agreement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sitetracker__Field_Asset__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
