UCF-APR2.4/ftr main/force-app/main/default/flows/FormData_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailForStatusCheck</name>
        <label>SendEmailForStatusCheck</label>
        <locationX>1150</locationX>
        <locationY>5111</locationY>
        <actionName>Case.FormAssembly_Case_Status_Check_and_Update_Comments</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FormAssembly_Case_Status_Check_and_Update_Comments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Billing_Issue</name>
        <label>Assign Billing Issue</label>
        <locationX>1766</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Billing_Issue_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CCS_Case</name>
        <label>Assign CCS Case</label>
        <locationX>1018</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCSAM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Request_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CR_Case</name>
        <label>Assign CR Case</label>
        <locationX>490</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Partner_Support_Team_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ENT Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Legal_Business_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Request_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DS_Case</name>
        <label>Assign DS Case</label>
        <locationX>1414</locationX>
        <locationY>4187</locationY>
        <assignmentItems>
            <assignToReference>NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Direct_Support_Team_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ENT Direct Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Legal_Business_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Request_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ent_Partner_Dir_Sales_Support</name>
        <label>Assign Ent Partner/Dir Sales Support</label>
        <locationX>1238</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Ent_Partner_Dir_Sales_Support_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ES_Case</name>
        <label>Assign ES Case</label>
        <locationX>754</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCSAM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Request_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Contact_Info</name>
        <label>Assign Existing Contact Info</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Case_Assignment_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_General_Case</name>
        <label>Assign General Case</label>
        <locationX>1150</locationX>
        <locationY>4895</locationY>
        <assignmentItems>
            <assignToReference>NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.FormData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Request_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFollowUpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Legal_Business_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseGeneral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact_Info</name>
        <label>Assign New Contact Info</label>
        <locationX>754</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Contact_Info.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Case_Assignment_Subflow_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact_Info_2</name>
        <label>Assign New Contact Info 2</label>
        <locationX>1282</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Contact_Info_2.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Unassigned_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact_Info_3</name>
        <label>Assign New Contact Info 3</label>
        <locationX>1546</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Contact_Info_2.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact_Info_4</name>
        <label>Assign New Contact Info 4</label>
        <locationX>1810</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDefaultAccount_3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Creation</name>
        <label>Assign Order Creation</label>
        <locationX>1502</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Order_Creation_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other</name>
        <label>Assign Other</label>
        <locationX>2294</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Other_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QR_Case</name>
        <label>Assign QR Case</label>
        <locationX>490</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>NewCase.FormData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Request_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ent_Partner_Dir_Sales_Support_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Request_Type__c}-{!$Record.Legal_Business_Name__c}-FormData: {!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Request_Type__c}-{!$Record.Legal_Business_Name__c}-FormData: {!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QR_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Contact</name>
        <label>Assign Related Contact</label>
        <locationX>1282</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DS_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Repair</name>
        <label>Assign Repair</label>
        <locationX>2030</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Repair_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SB_Case</name>
        <label>Assign SB Case</label>
        <locationX>1018</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Issue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Escalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_General_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SOr_Case</name>
        <label>Assign SOr Case</label>
        <locationX>754</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Creation_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Escalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_General_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SOt_Case</name>
        <label>Assign SOt Case</label>
        <locationX>1546</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Escalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_General_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SR_Case</name>
        <label>Assign SR Case</label>
        <locationX>1282</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repair_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Escalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_General_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Unassigned_Queue</name>
        <label>Assign to Unassigned Queue</label>
        <locationX>1282</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>varCSAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_CSAM_Queue_Unassigned_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDSupportGroupId</name>
        <label>AssignDSupportGroupId</label>
        <locationX>1502</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Group_Direct_Support_Team_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPSupportGroupId</name>
        <label>AssignPSupportGroupId</label>
        <locationX>1238</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Group_Partner_Support_Team_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CSAM_Queue_Unassigned</name>
        <label>Set CSAM_Queue_Unassigned</label>
        <locationX>1766</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Group_CSAM_Queue_Unassigned_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBPO</name>
        <label>SetBPO</label>
        <locationX>820</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>varBPO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBPO.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBPOQueue</name>
        <label>SetBPOQueue</label>
        <locationX>1348</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>varBPO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCSAMQueueAssigned.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBPOQueue2</name>
        <label>SetBPOQueue2</label>
        <locationX>1084</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>varBPO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBPOQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BPO_Active</name>
        <label>BPO Active</label>
        <locationX>952</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>SetBPOQueue2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BPOActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBPO.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBPO</targetReference>
            </connector>
            <label>BPOActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>BPO_Found</name>
        <label>BPO Found</label>
        <locationX>1150</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>SetBPOQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BPOFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBPO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BPO_Active</targetReference>
            </connector>
            <label>BPOFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Exist</name>
        <label>Check Contact Exist</label>
        <locationX>1150</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist_And_Both_Account_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_With_Form_AcctNum</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContactRecord.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account_With_Form_AcctNum.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Channel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Contact_Info</targetReference>
            </connector>
            <label>Contact Exist And Both Account Matched</label>
        </rules>
        <rules>
            <name>Contact_Exist_but_Accounts_Not_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_With_Form_AcctNum</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContactRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Account_With_Form_AcctNum.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Channel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Cont_Rel</targetReference>
            </connector>
            <label>Contact Exist but Accounts Not Matched</label>
        </rules>
        <rules>
            <name>Contact_Not_Exist_But_Account_by_Form_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_With_Form_AcctNum</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Channel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContact</targetReference>
            </connector>
            <label>Contact Not Exist But Account by Form Found</label>
        </rules>
        <rules>
            <name>Form_Account_Not_Found_but_Contact_Exist</name>
            <conditionLogic>1 AND (NOT(2  OR 5)) AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_With_Form_AcctNum</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Case_Assignment_Subflow_4</targetReference>
            </connector>
            <label>Form Account Not Found but Contact Exist</label>
        </rules>
        <rules>
            <name>Account_not_found_also_contact_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_With_Form_AcctNum</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Channel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContact_2</targetReference>
            </connector>
            <label>Account not found also contact not exist</label>
        </rules>
        <rules>
            <name>Is_ChannelRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contact_Exist</targetReference>
            </connector>
            <label>Is ChannelRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Queue</name>
        <label>Check Queue</label>
        <locationX>1634</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Loop_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Partner_Support_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner_Support_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPSupportGroupId</targetReference>
            </connector>
            <label>Is Partner Support Team</label>
        </rules>
        <rules>
            <name>Is_Direct_Sales_Support_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct_Sales_Support_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDSupportGroupId</targetReference>
            </connector>
            <label>Is Direct Sales Support Team</label>
        </rules>
        <rules>
            <name>Is_CSAM_Queue_Unassigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAM_Queue_Unassigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CSAM_Queue_Unassigned</targetReference>
            </connector>
            <label>Is CSAM Queue Unassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecorfTypes</name>
        <label>Check RecorfTypes</label>
        <locationX>1898</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_RecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Ent_Partner_Dir_Sales_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_RecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ent_Partner_Dir_Sales_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ent_Partner_Dir_Sales_Support</targetReference>
            </connector>
            <label>Is Ent Partner/Dir Sales Support</label>
        </rules>
        <rules>
            <name>Is_Order_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_RecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order_Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Creation</targetReference>
            </connector>
            <label>Is Order Creation</label>
        </rules>
        <rules>
            <name>Is_Billing_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_RecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Issue</targetReference>
            </connector>
            <label>Is Billing Issue</label>
        </rules>
        <rules>
            <name>Is_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_RecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Repair</targetReference>
            </connector>
            <label>Is Repair</label>
        </rules>
        <rules>
            <name>Is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_RecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Other</targetReference>
            </connector>
            <label>Is Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Contact</name>
        <label>Check Related Contact</label>
        <locationX>1414</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Create_Dummy_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Contact</targetReference>
            </connector>
            <label>Has Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Request_Type</name>
        <label>Check Request Type</label>
        <locationX>1150</locationX>
        <locationY>4379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Quote_Contract_Order_Req_Post_Sale_Care</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Sale Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QR_Case</targetReference>
            </connector>
            <label>Is Quote/Contract/Order Req/Post Sale Care</label>
        </rules>
        <rules>
            <name>Is_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orders</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SOr_Case</targetReference>
            </connector>
            <label>Is Orders</label>
        </rules>
        <rules>
            <name>Is_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SB_Case</targetReference>
            </connector>
            <label>Is Billing</label>
        </rules>
        <rules>
            <name>Is_Repair_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SR_Case</targetReference>
            </connector>
            <label>Is Repair Escalation</label>
        </rules>
        <rules>
            <name>Is_Other1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SOt_Case</targetReference>
            </connector>
            <label>Is Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>1150</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <targetReference>Check_Request_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Channel_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CR_Case</targetReference>
            </connector>
            <label>Is Channel Request</label>
        </rules>
        <rules>
            <name>Is_External_Support_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External Support Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ES_Case</targetReference>
            </connector>
            <label>Is External Support Request</label>
        </rules>
        <rules>
            <name>Is_Call_Center_Support_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Center Support Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CCS_Case</targetReference>
            </connector>
            <label>Is Call Center Support Request</label>
        </rules>
        <rules>
            <name>Is_Direct_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contact</targetReference>
            </connector>
            <label>Is Direct Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AccountNumber_There_in_FormData</name>
        <label>Is AccountNumber There in FormData?</label>
        <locationX>1150</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_RecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesYesAcctNumberNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_With_Form_AcctNum</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Exist</name>
        <label>Is Contact Exist</label>
        <locationX>1810</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Contact_Info_3</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
        <rules>
            <name>Contact_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDefaultAccount_3</targetReference>
            </connector>
            <label>Contact Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Exist</name>
        <label>Relationship Exist?</label>
        <locationX>402</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Create_Indirect_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRelationshipExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acct_Cont_Rel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Case_Assignment_Subflow_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>CASE(WEEKDAY(TODAY()), 1, (TODAY()+ 2), 7, (TODAY()+3), (TODAY()+1))</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FormData: After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FormData: After Create</label>
    <loops>
        <name>Loop_Queue</name>
        <label>Loop Queue</label>
        <locationX>1150</locationX>
        <locationY>1439</locationY>
        <collectionReference>Get_All_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetDefaultAccount_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_RecordTypes</name>
        <label>Loop RecordTypes</label>
        <locationX>1150</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_RecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_RecorfTypes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Queue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dummy_Contact</name>
        <label>Create Dummy Contact</label>
        <locationX>1546</locationX>
        <locationY>3995</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_DS_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>dummy.email@test.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Indirect_Relationship</name>
        <label>Create Indirect Relationship</label>
        <locationX>490</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Call_Case_Assignment_Subflow_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_With_Form_AcctNum.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_QR_Case</name>
        <label>Create QR Case</label>
        <locationX>490</locationX>
        <locationY>4595</locationY>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseGeneral</name>
        <label>CreateCaseGeneral</label>
        <locationX>1150</locationX>
        <locationY>5003</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>SendEmailForStatusCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation__c</field>
            <value>
                <elementReference>NewCase.Escalation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>NewCase.Follow_Up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FormData__c</field>
            <value>
                <elementReference>NewCase.FormData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>NewCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewCase.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedCompany</field>
            <value>
                <elementReference>NewCase.SuppliedCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>NewCase.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>NewCase.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>NewCase.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>NewCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>754</locationX>
        <locationY>2147</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Contact_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_With_Form_AcctNum.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreateContact_2</name>
        <label>CreateContact 2</label>
        <locationX>1282</locationX>
        <locationY>2147</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Contact_Info_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetDefaultAccount_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreateContact_3</name>
        <label>CreateContact 3</label>
        <locationX>1810</locationX>
        <locationY>2363</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_New_Contact_Info_4</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetDefaultAccount_3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Account_With_Form_AcctNum</name>
        <label>Account With Form AcctNum</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0128a000000tj2qAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0120h000000cc3dAAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Acct_Cont_Rel</name>
        <label>Acct Cont Rel</label>
        <locationX>402</locationX>
        <locationY>2147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relationship_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_With_Form_AcctNum.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Queue</name>
        <label>Get All Queue</label>
        <locationX>1150</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Contact_Info</name>
        <label>Get New Contact Info</label>
        <locationX>754</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Contact_Info_2</name>
        <label>Get New Contact Info 2</label>
        <locationX>1282</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Contact_Info_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypes</name>
        <label>Get RecordTypes</label>
        <locationX>1150</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>1414</locationX>
        <locationY>3779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBPO</name>
        <label>GetBPO</label>
        <locationX>1150</locationX>
        <locationY>2963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSupportBilling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Provisioning Ordering</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBPOQueue</name>
        <label>GetBPOQueue</label>
        <locationX>1150</locationX>
        <locationY>2855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBPO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BPO Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>1150</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_AccountNumber_There_in_FormData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCSAMQueueAssigned</name>
        <label>GetCSAMQueueAssigned</label>
        <locationX>1150</locationX>
        <locationY>2747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBPOQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSAM Queue - Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultAccount_2</name>
        <label>GetDefaultAccount 2</label>
        <locationX>1150</locationX>
        <locationY>1931</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account with Unassigned Contacts Master(Do not remove)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultAccount_3</name>
        <label>GetDefaultAccount 3</label>
        <locationX>1810</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateContact_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PST Channel Staging Account#2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSupportBilling</name>
        <label>GetSupportBilling</label>
        <locationX>1150</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BPO_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <object>FormData__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Case_Assignment_Subflow</name>
        <label>Call Case Assignment Subflow</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </connector>
        <flowName>Subflow_Form_Case_Assignment</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>Account_With_Form_AcctNum.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCSAM</assignToReference>
            <name>varQueueToAssign</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Call_Case_Assignment_Subflow_2</name>
        <label>Call Case Assignment Subflow 2</label>
        <locationX>402</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </connector>
        <flowName>Subflow_Form_Case_Assignment</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>Account_With_Form_AcctNum.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCSAM</assignToReference>
            <name>varQueueToAssign</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Call_Case_Assignment_Subflow_3</name>
        <label>Call Case Assignment Subflow 3</label>
        <locationX>754</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </connector>
        <flowName>Subflow_Form_Case_Assignment</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>Account_With_Form_AcctNum.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCSAM</assignToReference>
            <name>varQueueToAssign</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Call_Case_Assignment_Subflow_4</name>
        <label>Call Case Assignment Subflow 4</label>
        <locationX>1018</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>GetCSAMQueueAssigned</targetReference>
        </connector>
        <flowName>Subflow_Form_Case_Assignment</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>GetContactRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCSAM</assignToReference>
            <name>varQueueToAssign</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Billing_Issue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Email_Recepent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLink_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLink_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Ent_Partner_Dir_Sales_Support_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Group_CSAM_Queue_Unassigned_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Group_Direct_Support_Team_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Group_Partner_Support_Team_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Order_Creation_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBPO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCaseFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCSAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOneCaseFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varProductsShortName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
