UCF-APR2.4/ftr main/force-app/main/default/flows/Frontier_Project_On_Create_or_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FPMDUDepOwnerEmailNotification</name>
        <label>FPMDUDepOwnerEmailNotification</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DeploymentOwnerEmailNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Project_Owner__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>There is a new Frontier MDU Project created.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Story_Found</name>
        <label>Is Story Found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Add_Default_Story</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Story_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordType_is_MDU_And_DeploymentOwner_Has_Email</targetReference>
            </connector>
            <label>Story is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_is_MDU_And_DeploymentOwner_Has_Email</name>
        <label>RecordType is MDU And DeploymentOwner Has Email</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_is_MDU_And_DO_Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Owner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FPMDUDepOwnerEmailNotification</targetReference>
            </connector>
            <label>RecordType is MDU And DO Has Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentRecordTypeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Frontier Project: On Create or Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Frontier Project: On Create or Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Default_Story</name>
        <label>Add Default Story</label>
        <locationX>270</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>RecordType_is_MDU_And_DeploymentOwner_Has_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frontier_Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_by__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Stories</name>
        <label>Get Stories</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Story_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Frontier_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stories</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DeploymentOwnerEmailNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You are in charge of the following Frontier MDU Project deployment:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Frontier MDU Project Link:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!RecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Record URL&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Project Description:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Project Stage:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Record.Stage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Deployment Owner:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Project_Owner__r.FirstName} {!$Record.Project_Owner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please refer to the link above to access the project record.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Thank you.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
