UCF-APR2.4/ftr main/force-app/main/default/flows/JUC_Job_Set_Back_to_Pending_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Related_Job_to_Job_Collection</name>
        <label>Add Related Job to Job Collection</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>JobCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Job</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Job_Collection</name>
        <label>Add to Job Collection</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>JobCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Job</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job</name>
        <label>Assign Job</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Job.Target_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job.Target_Finish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job.sitetracker__Preferred_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job.sitetracker__Latest_Response_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job.sitetracker__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job.sitetracker__Actual_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.sitetracker__Actual_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Job_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reopens the Related Job and clears the Actual End field.</description>
        <name>Set_Fields_on_Related_Job</name>
        <label>Set Fields on Related Job</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Job.sitetracker__Job_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Job.sitetracker__Actual_End__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Related_Job_to_Job_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if the Job is associated to a JUC Ticket</description>
        <name>JUC_Job_Decision</name>
        <label>JUC Job</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>JUC_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sitetracker__Ticket__r.sitetracker__Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Job has a related Job</description>
        <name>Related_Job_Decision</name>
        <label>Related Job Found?</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Related_Job_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_on_Related_Job</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Triggers when a JUC Job&apos;s Status is changed to &quot;Pending&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>NullValue</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>JUC Job Set Back to Pending Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JUC Job Set Back to Pending Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Related Job</description>
        <name>Get_Related_Job</name>
        <label>Get Related Job</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Job_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sitetracker__Related_Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Related Job</description>
        <name>Update_Related_Job</name>
        <label>Update Related Job</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <inputReference>JobCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JUC_Job_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sitetracker__Job_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sitetracker__Job_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>sitetracker__Ticket__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sitetracker__Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sitetracker__Job__c</objectType>
    </variables>
    <variables>
        <description>Job Collection to be updated</description>
        <name>JobCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sitetracker__Job__c</objectType>
    </variables>
</Flow>
