UCF-APR2.4/ftr main/force-app/main/default/flows/Lead_Schedule_Create_Task_MDU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Lead_Owner</name>
        <label>Send Email to Lead Owner</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Bell_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>commercialsalessupport@ftr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>forT_DaysToEndContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_TaskNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <elementReference>True</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Existing_Tasks</name>
        <label>Existing Tasks?</label>
        <locationX>314</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Tasks_18M.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prior_Tasks_12M.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_recordtype</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_days_to_end_of_competitor_contract</name>
        <label>How many days to end of competitor contract?</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_540_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forT_DaysToEndContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Call – Discovery (18M)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Tasks_18M</targetReference>
            </connector>
            <label>Less than 540 days</label>
        </rules>
        <rules>
            <name>Less_than_365_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forT_DaysToEndContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Call – Discovery (12M)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Tasks_12M</targetReference>
            </connector>
            <label>Less than 365 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MDU_Recordtype</name>
        <label>Is MDU Recordtype?</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDU Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_many_days_to_end_of_competitor_contract</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Currently sending notification on 18 months, implemented same feature + email notification for 12 months + Org Wide Email</description>
    <environments>Default</environments>
    <formulas>
        <name>DaysToEndOfContract</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Expiration_of_Competitor_Agreement__c}-TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Expiration_of_Competitor_Agreement__c</description>
        <name>forT_DaysToEndContract</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        {!$Record.Expiration_of_Competitor_Agreement__c} - TODAY() &gt; 365,
        {!$Record.Expiration_of_Competitor_Agreement__c} - TODAY() &lt; 540
    ),
    &quot;Customer Call – Discovery (18M)&quot;,
    IF(
        AND(
            {!$Record.Expiration_of_Competitor_Agreement__c} - TODAY() &gt; 1,
            {!$Record.Expiration_of_Competitor_Agreement__c} - TODAY() &lt; 365
        ),
        &quot;Customer Call – Discovery (12M)&quot;,
        &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>forT_RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; {!Create_Task}</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Lead Schedule - Create Task MDU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Schedule - Create Task MDU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Send_Email_to_Lead_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forT_DaysToEndContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Prior_Tasks_12M</name>
        <label>Get Prior Tasks (12M)</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Call – Discovery (12M)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prior_Tasks_18M</name>
        <label>Get Prior Tasks (18M)</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Tasks</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Call – Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Call – Discovery (18M)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recordtype</name>
        <label>Get Recordtype</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_MDU_Recordtype</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected - Return to Nurture Stream</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rejection_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Currently under Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rejection_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost opportunity to Competitor</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-01-15</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <flowName>Send_Bell_Notification_Subprocess</flowName>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Title</name>
            <value>
                <elementReference>NotifTitle</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_TaskNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have a new task; please review the details below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!forT_RecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!forT_RecordURL}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Thank you.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Click on this notification to navigate to Lead</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotifTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Task assigned to you</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
