UCF-APR2.4/ftr main/force-app/main/default/flows/MasterAccountCreation_CheckGlobal_OrganizationAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_MessageError</name>
        <label>MessageError</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>That Customer number returns more than one Global account. The new Master account will need to be linked manually. Please complete the Parent Account.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_MessageError</name>
        <label>MessageError</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>That Customer number returns more than one Organization account. The new Master account will need to be linked manually. Please complete the Parent Account.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MessageError</name>
        <label>MessageError</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>That Customer number returns both Global and Organization accounts. The new Master account will need to be linked manually. Please complete the Parent Account.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignTotal</name>
        <label>AssignTotal</label>
        <locationX>798</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CountGlobal</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOcamGlobal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOrganization</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOcamOrganization</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_OrganizationOrGlobal_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDToUpdate_Global</name>
        <label>IDToUpdate_Global</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AccountID_Global</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtractIDGlobal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExtractIDGlobal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDToUpdate_Org</name>
        <label>IDToUpdate_Org</label>
        <locationX>1018</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AccountID_ORG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtractIDOrg.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExtractIDOrg</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_OrganizationOrGlobal_Exist</name>
        <label>Does_OrganizationOrGlobal_Exist</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>CreateNewGlobalAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>GreaterThan1Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountGlobal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountOrganization</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_MessageError</targetReference>
            </connector>
            <label>GreaterThan1Org</label>
        </rules>
        <rules>
            <name>GreaterThan1Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountGlobal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountOrganization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_MessageError</targetReference>
            </connector>
            <label>GreaterThan1Global</label>
        </rules>
        <rules>
            <name>Yes_Organization_And_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOrganization</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountGlobal</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageError</targetReference>
            </connector>
            <label>Yes, 1 Org &amp; 1 Global</label>
        </rules>
        <rules>
            <name>Yes_Only_Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOrganization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountGlobal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtractIDOrg</targetReference>
            </connector>
            <label>Yes, Only 1 Organization</label>
        </rules>
        <rules>
            <name>Yes_Only_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountGlobal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountOrganization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtractIDGlobal</targetReference>
            </connector>
            <label>Yes, Only 1 Global</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasCompleteOCAM</name>
        <label>HasCompleteOCAM?</label>
        <locationX>1304</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeOrganization</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MasterAccountCreation_CheckGlobal&amp;OrganizationAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MasterAccountCreation_CheckGlobal&amp;OrganizationAccount</label>
    <loops>
        <name>ExtractIDGlobal</name>
        <label>ExtractIDGlobal</label>
        <locationX>1282</locationX>
        <locationY>1175</locationY>
        <collectionReference>GetOcamGlobal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IDToUpdate_Global</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParentId_Global</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ExtractIDOrg</name>
        <label>ExtractIDOrg</label>
        <locationX>930</locationX>
        <locationY>1175</locationY>
        <collectionReference>GetOcamOrganization</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IDToUpdate_Org</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParentID_Org</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewGlobalAccount</name>
        <label>CreateNewGlobalAccount</label>
        <locationX>1546</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>UpdateParentId_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>$Record.Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DPI_GanID__c</field>
            <value>
                <elementReference>$Record.DPI_GanID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005E00000066ttBIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128a000000tj2qAAA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOcamGlobal</name>
        <label>GetOcamGlobal</label>
        <locationX>798</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTotal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeGlobal.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOcamOrganization</name>
        <label>GetOcamOrganization</label>
        <locationX>798</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOcamGlobal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeOrganization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeGlobal</name>
        <label>GetRecordTypeGlobal</label>
        <locationX>798</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOcamOrganization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeOrganization</name>
        <label>GetRecordTypeOrganization</label>
        <locationX>798</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeGlobal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParentId_1</name>
        <label>UpdateParentId</label>
        <locationX>1546</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CreateNewGlobalAccount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentId_Global</name>
        <label>UpdateParentId_Global</label>
        <locationX>1282</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>AccountID_Global</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentID_Org</name>
        <label>UpdateParentId_Org</label>
        <locationX>930</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>AccountID_ORG</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HasCompleteOCAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012E0000000fDc3IAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID_Global</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountID_ORG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountGlobal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOrganization</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrgRecordOcam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
