UCF-APR2.4/ftr main/force-app/main/default/flows/msuite_product_offering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_6481950f_a6ba_4076_905b_81b358ca8645</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_03560603_0b9c_490c_8720_336699bd0dad</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0525f43b_3c91_49fd_88a7_18ef09d39c94</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_05f72532_6e50_4270_8e4b_cda8d5b652b0</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_078a1702_7194_4d8c_822e_5a56c1de77d4</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_08edd60e_4d3d_4a3d_b3c0_1650fd140b9f</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0e27345c_f9fe_487e_9270_ce63e73bf401</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_10a23e24_4e82_4f33_80e7_e01a66348223</name>
        <choiceText>DIA internet service with a managed router</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DIA internet service with a managed router</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_16d842d0_e0d6_4d5b_b3ee_5e2050300239</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_191721cc_e179_4eed_acd5_32765b345945</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1aee199b_69b2_4d74_aa8b_2884590bb0b5</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1af15396_6dee_49ba_bb1b_73a8e8255d0c</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1efe8259_937f_4f3a_9d6b_4079a74a93f1</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2265b24d_b58d_4461_8644_aa5740ee979d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_22b85a5b_10d8_4f2b_a0f8_bc4cca164a90</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_270e569f_e662_4b8e_ae2c_e756f7598c44</name>
        <choiceText>Internet Security (Firewall)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet Security (Firewall)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2a3a8008_66cc_4302_9e2e_57b3f4d9af75</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2d3327a1_9285_4d42_93ef_084290525ad9</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2d40ac0c_b40b_4695_9360_dad780111b8d</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_318de70c_0c5a_4766_b300_54cb820f6248</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_34447646_6e2d_44dc_81b4_152e9bcf28c5</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_34824c13_5202_452b_9821_97b8cb72ed86</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_37ecb4e1_c237_4281_8f68_c6d64be0c17c</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3bca6916_dc60_4d38_a5dd_50ebda7cd080</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3cc13a1a_3f8a_4cab_a43e_cd613089b55e</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3f2b660a_9456_4919_8c09_548306423f71</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3f8b1012_5b8f_4271_a57d_8da7375d47df</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3f982bb6_24cb_4359_a34e_acc5df7f4137</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_416c24d9_b62e_4610_a0a2_fa5cc65e731a</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_42998cfe_d5a1_4537_98ff_76310090467f</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_472865f3_3b22_4434_9488_8bba40204efe</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_488a70b3_030e_48d1_a92f_2b377f343809</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4b5a00d2_d79f_4011_a39b_c7c7aa5678e4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_55efd381_057c_4e64_a175_90348a0a2724</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_58ea4640_a2bb_4608_a614_24153d35034c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5b99109b_a513_439a_803c_421f01686ed3</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5bddaf63_6f36_4646_9a86_7ba6bcd3f980</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5c3cebc2_029d_4707_8d8b_2cf0cf768681</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5dc3de08_75cf_457e_85bf_d9d95aab4a03</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_61372947_0d43_45dd_96a4_8acfb77eb9e1</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_620d13cf_7694_4aef_a2c0_3bf6f5c3c87b</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_63963f84_90ab_497f_a1b0_8729b60c0e22</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_649ea60b_421a_475e_a25e_4781e9b7fa60</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_66cc4956_29b0_455f_96c3_9571395507d3</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6895a24d_c1c6_49f7_9798_1619228f846c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6ade7ea9_16ba_402d_bae1_d84e9605ee18</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6d6d7a70_caba_4318_987d_79ca6054e7e1</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6e43f1ea_b6ca_43ad_949b_090ff1db9c5b</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6f1736bb_d3dc_4353_9b79_5a52eea116d6</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6f75e3db_e298_4b6f_83b7_17ccd6ccb739</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_717b6887_8736_4749_8d9f_d16ebe294364</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7ab60c5a_e03a_4b9e_b326_df6bd5dc8da7</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7d21201f_c424_4519_9c27_90449bd59a36</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7e77545e_cb17_409c_9e6d_c767134eb0b3</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_831b959c_ff07_4b09_8c40_6a82af364198</name>
        <choiceText>Network redundancy (Cellular Failover)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Network redundancy (Cellular Failover)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_86920db8_4f5a_4086_84f2_e441a105fab3</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_88de13eb_c924_4870_a965_fe761ba8cd12</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8c7c20d0_d87b_4293_8b77_45a0f7c05176</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8e7a7da1_6499_46be_961f_6046adce2975</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_96e07edd_14c8_4feb_a57a_1992d8a720db</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9a670f6a_8b4a_495c_ad7b_5fa224bf4fea</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a2f5adad_0eab_412e_84ee_34462ef1165e</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a68ab249_204d_4e85_b2fd_761295c51ff2</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a9a208a8_9bfb_415a_bdf4_aa1061f9be7f</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ac10d0c2_acb2_4d8f_bbee_775ce007d1a6</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_aec927c5_f21b_4389_96c4_7ab3f657f24b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b3d55602_2e82_428e_95d9_ab32476a3617</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b46d4903_393f_4ef5_b331_d33e137f9218</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b5365f08_9223_4cb4_90d6_28e39102548d</name>
        <choiceText>Wireless Access Points (WiFi)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wireless Access Points (WiFi)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b6671376_23f3_4502_b5c9_cac97d987d8a</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b6f570b0_4680_43a3_9210_7dec16552070</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b7065175_67f7_4e89_b618_dd1f4c9e14a9</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b8c35a72_4600_494d_aac3_60498a7211a0</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bd5287fd_1b14_470b_87ac_25f2b137134c</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c6605d0e_241f_43a9_b557_212673869c0d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ca76bb3a_e17f_4c47_9405_608b637f74d1</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ccf9c9b0_ec3a_44af_9a1a_524c1181ad80</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d1bbfe05_4ae6_4a47_8af2_70c24d59491e</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d3eecc27_356b_4df9_ac30_b0b588fbbbca</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d7783685_3f07_4869_b962_7df9ba1d6db9</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dd229406_3011_415d_8026_64d1d5057cd6</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dee2b17a_4075_4f40_b943_1c2c288cb91e</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dfd3a03a_ec24_49c0_93c3_8226173ae684</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dfd8d31f_a5d6_4bf3_9d7d_ea20eaaa1a2d</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dfe5f750_77d9_4f98_9df0_826d21f3aedf</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e0e7fb5a_31af_4960_ac72_e2607a6e3fa5</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e1f24088_80e2_44e7_82b8_51aa14e63b55</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e2ff450f_2fda_433a_8c6a_7e0912a42919</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e77417f1_61e3_4ee3_bb23_c7751b9ffcde</name>
        <choiceText>Very Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e7f38875_690c_4f73_8b9c_f79d58eb329a</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ec39e79e_2da3_4c59_8d59_126cb6c04d0d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ef205111_abfb_4fe9_a2be_c3eb201e0ca2</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_efab6287_c027_4874_a43f_11201a328287</name>
        <choiceText>Not Important</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f1cf8bf8_7d50_4ac0_827e_bb16069bd0ee</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f2e30d2e_4c70_4520_b6a3_a84ac756edad</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f4afdecb_a625_4da1_9946_34cb832df44b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fdc69622_2b6d_44d3_81a1_7be632c701d4</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <interviewLabel>mSuite product offering</interviewLabel>
    <label>mSuite product offering</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_msuite_product_offering_9_d88422c3_5577_49ec_8abb_eb094c7a8659</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Frontier Communication &lt;commercial.sales.redline@ftr.com&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_6481950f_a6ba_4076_905b_81b358ca8645</name>
        <label>Network Connectivity and Support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7e1acb5f_24a8_4565_a4f4_b3afcf9b4dc6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_7e1acb5f_24a8_4565_a4f4_b3afcf9b4dc6</name>
            <choiceReferences>c_efab6287_c027_4874_a43f_11201a328287</choiceReferences>
            <choiceReferences>c_b46d4903_393f_4ef5_b331_d33e137f9218</choiceReferences>
            <choiceReferences>c_0525f43b_3c91_49fd_88a7_18ef09d39c94</choiceReferences>
            <choiceReferences>c_9a670f6a_8b4a_495c_ad7b_5fa224bf4fea</choiceReferences>
            <choiceReferences>c_86920db8_4f5a_4086_84f2_e441a105fab3</choiceReferences>
            <choiceReferences>c_fdc69622_2b6d_44d3_81a1_7be632c701d4</choiceReferences>
            <choiceReferences>c_620d13cf_7694_4aef_a2c0_3bf6f5c3c87b</choiceReferences>
            <choiceReferences>c_e2ff450f_2fda_433a_8c6a_7e0912a42919</choiceReferences>
            <choiceReferences>c_e7f38875_690c_4f73_8b9c_f79d58eb329a</choiceReferences>
            <choiceReferences>c_88de13eb_c924_4870_a965_fe761ba8cd12</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Hands-off approach to your network knowing that it is being managed by certified professionals.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_28fb2b6a_29d2_4aa4_8c79_fa6d6a25362b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_28fb2b6a_29d2_4aa4_8c79_fa6d6a25362b</name>
            <choiceReferences>c_08edd60e_4d3d_4a3d_b3c0_1650fd140b9f</choiceReferences>
            <choiceReferences>c_0e27345c_f9fe_487e_9270_ce63e73bf401</choiceReferences>
            <choiceReferences>c_ec39e79e_2da3_4c59_8d59_126cb6c04d0d</choiceReferences>
            <choiceReferences>c_5c3cebc2_029d_4707_8d8b_2cf0cf768681</choiceReferences>
            <choiceReferences>c_5bddaf63_6f36_4646_9a86_7ba6bcd3f980</choiceReferences>
            <choiceReferences>c_05f72532_6e50_4270_8e4b_cda8d5b652b0</choiceReferences>
            <choiceReferences>c_ca76bb3a_e17f_4c47_9405_608b637f74d1</choiceReferences>
            <choiceReferences>c_16d842d0_e0d6_4d5b_b3ee_5e2050300239</choiceReferences>
            <choiceReferences>c_649ea60b_421a_475e_a25e_4781e9b7fa60</choiceReferences>
            <choiceReferences>c_2d40ac0c_b40b_4695_9360_dad780111b8d</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Peace of mind knowing that your network is secured and protected against malicious threats.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d062aea9_cac6_4cbd_a9ff_ecdfb48c234a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_d062aea9_cac6_4cbd_a9ff_ecdfb48c234a</name>
            <choiceReferences>c_e0e7fb5a_31af_4960_ac72_e2607a6e3fa5</choiceReferences>
            <choiceReferences>c_22b85a5b_10d8_4f2b_a0f8_bc4cca164a90</choiceReferences>
            <choiceReferences>c_f4afdecb_a625_4da1_9946_34cb832df44b</choiceReferences>
            <choiceReferences>c_7e77545e_cb17_409c_9e6d_c767134eb0b3</choiceReferences>
            <choiceReferences>c_f1cf8bf8_7d50_4ac0_827e_bb16069bd0ee</choiceReferences>
            <choiceReferences>c_bd5287fd_1b14_470b_87ac_25f2b137134c</choiceReferences>
            <choiceReferences>c_6ade7ea9_16ba_402d_bae1_d84e9605ee18</choiceReferences>
            <choiceReferences>c_42998cfe_d5a1_4537_98ff_76310090467f</choiceReferences>
            <choiceReferences>c_2d3327a1_9285_4d42_93ef_084290525ad9</choiceReferences>
            <choiceReferences>c_37ecb4e1_c237_4281_8f68_c6d64be0c17c</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Robust wireless coverage throughout your workplace (indoor and outdoor).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_345ae30c_084b_4729_b7c3_f5f0b150d312_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_345ae30c_084b_4729_b7c3_f5f0b150d312</name>
            <choiceReferences>c_e1f24088_80e2_44e7_82b8_51aa14e63b55</choiceReferences>
            <choiceReferences>c_58ea4640_a2bb_4608_a614_24153d35034c</choiceReferences>
            <choiceReferences>c_3bca6916_dc60_4d38_a5dd_50ebda7cd080</choiceReferences>
            <choiceReferences>c_4b5a00d2_d79f_4011_a39b_c7c7aa5678e4</choiceReferences>
            <choiceReferences>c_8c7c20d0_d87b_4293_8b77_45a0f7c05176</choiceReferences>
            <choiceReferences>c_96e07edd_14c8_4feb_a57a_1992d8a720db</choiceReferences>
            <choiceReferences>c_7d21201f_c424_4519_9c27_90449bd59a36</choiceReferences>
            <choiceReferences>c_dd229406_3011_415d_8026_64d1d5057cd6</choiceReferences>
            <choiceReferences>c_a2f5adad_0eab_412e_84ee_34462ef1165e</choiceReferences>
            <choiceReferences>c_d1bbfe05_4ae6_4a47_8af2_70c24d59491e</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;No capital expenditure on networking hardware (router, firewall, access points, cellular backup).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b4943c1b_b7ee_41e6_8ed6_607d9822f2b2_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b4943c1b_b7ee_41e6_8ed6_607d9822f2b2</name>
            <choiceReferences>c_191721cc_e179_4eed_acd5_32765b345945</choiceReferences>
            <choiceReferences>c_55efd381_057c_4e64_a175_90348a0a2724</choiceReferences>
            <choiceReferences>c_318de70c_0c5a_4766_b300_54cb820f6248</choiceReferences>
            <choiceReferences>c_2265b24d_b58d_4461_8644_aa5740ee979d</choiceReferences>
            <choiceReferences>c_f2e30d2e_4c70_4520_b6a3_a84ac756edad</choiceReferences>
            <choiceReferences>c_1af15396_6dee_49ba_bb1b_73a8e8255d0c</choiceReferences>
            <choiceReferences>c_1efe8259_937f_4f3a_9d6b_4079a74a93f1</choiceReferences>
            <choiceReferences>c_a68ab249_204d_4e85_b2fd_761295c51ff2</choiceReferences>
            <choiceReferences>c_488a70b3_030e_48d1_a92f_2b377f343809</choiceReferences>
            <choiceReferences>c_e77417f1_61e3_4ee3_bb23_c7751b9ffcde</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;One number for 24/7/365 Tech Support to ensure your network is performing at its best.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_214edc19_5041_490e_811a_7b3f5b3bf8c6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_214edc19_5041_490e_811a_7b3f5b3bf8c6</name>
            <choiceReferences>c_6e43f1ea_b6ca_43ad_949b_090ff1db9c5b</choiceReferences>
            <choiceReferences>c_472865f3_3b22_4434_9488_8bba40204efe</choiceReferences>
            <choiceReferences>c_c6605d0e_241f_43a9_b557_212673869c0d</choiceReferences>
            <choiceReferences>c_aec927c5_f21b_4389_96c4_7ab3f657f24b</choiceReferences>
            <choiceReferences>c_ac10d0c2_acb2_4d8f_bbee_775ce007d1a6</choiceReferences>
            <choiceReferences>c_3f982bb6_24cb_4359_a34e_acc5df7f4137</choiceReferences>
            <choiceReferences>c_dfd3a03a_ec24_49c0_93c3_8226173ae684</choiceReferences>
            <choiceReferences>c_6f75e3db_e298_4b6f_83b7_17ccd6ccb739</choiceReferences>
            <choiceReferences>c_3cc13a1a_3f8a_4cab_a43e_cd613089b55e</choiceReferences>
            <choiceReferences>c_6d6d7a70_caba_4318_987d_79ca6054e7e1</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Proactive monitoring, ticketing and resolving of network issues.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_c7e7868f_4a3a_495e_9c18_c22adbde45c3_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_c7e7868f_4a3a_495e_9c18_c22adbde45c3</name>
            <choiceReferences>c_b6671376_23f3_4502_b5c9_cac97d987d8a</choiceReferences>
            <choiceReferences>c_6895a24d_c1c6_49f7_9798_1619228f846c</choiceReferences>
            <choiceReferences>c_34447646_6e2d_44dc_81b4_152e9bcf28c5</choiceReferences>
            <choiceReferences>c_3f2b660a_9456_4919_8c09_548306423f71</choiceReferences>
            <choiceReferences>c_b8c35a72_4600_494d_aac3_60498a7211a0</choiceReferences>
            <choiceReferences>c_5b99109b_a513_439a_803c_421f01686ed3</choiceReferences>
            <choiceReferences>c_078a1702_7194_4d8c_822e_5a56c1de77d4</choiceReferences>
            <choiceReferences>c_3f8b1012_5b8f_4271_a57d_8da7375d47df</choiceReferences>
            <choiceReferences>c_5dc3de08_75cf_457e_85bf_d9d95aab4a03</choiceReferences>
            <choiceReferences>c_ccf9c9b0_ec3a_44af_9a1a_524c1181ad80</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Professional Installation services of all your networking gear (including router, access points, cabling and wireless failover device).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_34396c37_3319_4aed_b762_9d2a02219b20_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_34396c37_3319_4aed_b762_9d2a02219b20</name>
            <choiceReferences>c_b7065175_67f7_4e89_b618_dd1f4c9e14a9</choiceReferences>
            <choiceReferences>c_dee2b17a_4075_4f40_b943_1c2c288cb91e</choiceReferences>
            <choiceReferences>c_61372947_0d43_45dd_96a4_8acfb77eb9e1</choiceReferences>
            <choiceReferences>c_2a3a8008_66cc_4302_9e2e_57b3f4d9af75</choiceReferences>
            <choiceReferences>c_34824c13_5202_452b_9821_97b8cb72ed86</choiceReferences>
            <choiceReferences>c_ef205111_abfb_4fe9_a2be_c3eb201e0ca2</choiceReferences>
            <choiceReferences>c_8e7a7da1_6499_46be_961f_6046adce2975</choiceReferences>
            <choiceReferences>c_a9a208a8_9bfb_415a_bdf4_aa1061f9be7f</choiceReferences>
            <choiceReferences>c_dfd8d31f_a5d6_4bf3_9d7d_ea20eaaa1a2d</choiceReferences>
            <choiceReferences>c_b6f570b0_4680_43a3_9210_7dec16552070</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Access to a customer portal providing real-time network snapshots and analytics accessible to you at any time of day.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7feab1d4_861c_41f5_9232_0fe1ff994330_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_7feab1d4_861c_41f5_9232_0fe1ff994330</name>
            <choiceReferences>c_717b6887_8736_4749_8d9f_d16ebe294364</choiceReferences>
            <choiceReferences>c_66cc4956_29b0_455f_96c3_9571395507d3</choiceReferences>
            <choiceReferences>c_03560603_0b9c_490c_8720_336699bd0dad</choiceReferences>
            <choiceReferences>c_416c24d9_b62e_4610_a0a2_fa5cc65e731a</choiceReferences>
            <choiceReferences>c_7ab60c5a_e03a_4b9e_b326_df6bd5dc8da7</choiceReferences>
            <choiceReferences>c_63963f84_90ab_497f_a1b0_8729b60c0e22</choiceReferences>
            <choiceReferences>c_d3eecc27_356b_4df9_ac30_b0b588fbbbca</choiceReferences>
            <choiceReferences>c_d7783685_3f07_4869_b962_7df9ba1d6db9</choiceReferences>
            <choiceReferences>c_dfe5f750_77d9_4f98_9df0_826d21f3aedf</choiceReferences>
            <choiceReferences>c_1aee199b_69b2_4d74_aa8b_2884590bb0b5</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Automatic failover to a backup cellular connection if something happens to your primary network.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8e4f9d35_db5e_4496_a86e_8795447470e4</name>
            <choiceReferences>c_10a23e24_4e82_4f33_80e7_e01a66348223</choiceReferences>
            <choiceReferences>c_b5365f08_9223_4cb4_90d6_28e39102548d</choiceReferences>
            <choiceReferences>c_270e569f_e662_4b8e_ae2c_e756f7598c44</choiceReferences>
            <choiceReferences>c_831b959c_ff07_4b09_8c40_6a82af364198</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Which of the following fully managed products would benefit your business (please check all that apply):&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_becfa54c_b889_406a_8bed_c8624ecc4b1a</name>
            <choiceReferences>c_b3d55602_2e82_428e_95d9_ab32476a3617</choiceReferences>
            <choiceReferences>c_6f1736bb_d3dc_4353_9b79_5a52eea116d6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Would you be interested in being one of the first to try our new fully managed product offerings?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ddf2238f_1ad3_43ec_97e5_2952a562c062</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_becfa54c_b889_406a_8bed_c8624ecc4b1a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_b3d55602_2e82_428e_95d9_ab32476a3617</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_452140bf_d997_450e_bbd3_b60620a29b1d</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Preferred Email&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_becfa54c_b889_406a_8bed_c8624ecc4b1a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_b3d55602_2e82_428e_95d9_ab32476a3617</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_38e6fa5c_2eb9_4ecc_9dbf_3ffd5a24b101</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Preferred Phone&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_becfa54c_b889_406a_8bed_c8624ecc4b1a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_b3d55602_2e82_428e_95d9_ab32476a3617</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_6481950f_a6ba_4076_905b_81b358ca8645</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 26px;&quot;&gt;Thank you for taking the time to complete the survey!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;Thank you for taking a few minutes to complete the following survey. Your input will help with our product development.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;On the following page, we ask you to rate which features are most valuable to you when thinking about the Network Connectivity and support at your business. A rating of 1 star meaning &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Not Important&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; and a rating of 10 stars meaning &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Very Important&lt;/em&gt;&lt;/strong&gt;&lt;em&gt;.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_214edc19_5041_490e_811a_7b3f5b3bf8c6_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_28fb2b6a_29d2_4aa4_8c79_fa6d6a25362b_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_34396c37_3319_4aed_b762_9d2a02219b20_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_345ae30c_084b_4729_b7c3_f5f0b150d312_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_7e1acb5f_24a8_4565_a4f4_b3afcf9b4dc6_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_7feab1d4_861c_41f5_9232_0fe1ff994330_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b4943c1b_b7ee_41e6_8ed6_607d9822f2b2_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_c7e7868f_4a3a_495e_9c18_c22adbde45c3_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d062aea9_cac6_4cbd_a9ff_ecdfb48c234a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
