UCF-APR2.4/ftr main/force-app/main/default/flows/nps_pm_order_experience_assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_6481950f_a6ba_4076_905b_81b358ca8645</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_20d89768_f837_4ab6_b8d6_1c28dbcb3e1f</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_24d5c374_a61b_45f1_ae3a_e947fa9ce4bb</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <interviewLabel>NPS - PM/Order Experience Assessment - Transactional</interviewLabel>
    <label>NPS - PM/Order Experience Assessment - Transactional</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_nps_pm_order_experience_assess_3efeeefe_c89b_4660_a864_4dec50875d90</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Frontier Communication &lt;commercial.sales.redline@ftr.com&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_6481950f_a6ba_4076_905b_81b358ca8645</name>
        <label>PM/Order Experience Assessment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_aea8d4c9_211e_483b_9261_c5a659ee9aff_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_aea8d4c9_211e_483b_9261_c5a659ee9aff</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10pt;&quot;&gt;How likely are you to recommend Frontier for business? &lt;/strong&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;(0 least likely – 10 extremely likely)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d59e63f3_f195_4a5c_a52d_992f943e0d4f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;What could we do better?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_aea8d4c9_211e_483b_9261_c5a659ee9aff</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>7.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0156a759_8a82_41f3_be8e_cf4d33c89362</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;What did you like most about your experience with Frontier?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_aea8d4c9_211e_483b_9261_c5a659ee9aff</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>8.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ca111138_e625_4282_a15d_efc9cfba1ac8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ca111138_e625_4282_a15d_efc9cfba1ac8</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;To what extent do you agree the service install process was completed to my satisfaction? &lt;/strong&gt;(0 strongly disagree - 10 strongly agree)&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a7ef499b_f5e5_4901_abce_035e1769d1ef_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a7ef499b_f5e5_4901_abce_035e1769d1ef</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How satisfied are you with the timeliness of your project implementation? &lt;/strong&gt;(0 least satisfied - 10 extremely satisfied)&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_38218780_104a_458d_879f_e9f73cbe5d24_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_38218780_104a_458d_879f_e9f73cbe5d24</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10pt;&quot;&gt;Overall, how satisfied are you with your Project Manager? &lt;/strong&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;(0 least satisfied – 10 extremely satisfied)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_343a35a9_cfb6_4935_94ba_96943fe6db21_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_343a35a9_cfb6_4935_94ba_96943fe6db21</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10pt;&quot;&gt;How satisfied are you with the Project Manager&amp;nbsp;in terms of&amp;nbsp;&lt;em&gt;Professionalism&lt;/em&gt;?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;(0 least satisfied – 10 extremely satisfied)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_32cd04df_1312_46c9_ac6b_fba990f8f55f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_32cd04df_1312_46c9_ac6b_fba990f8f55f</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10pt;&quot;&gt;How satisfied are you with the Project Manager&amp;nbsp;in terms of&amp;nbsp;&lt;em&gt;Order status communication&lt;/em&gt;? &lt;/strong&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;(0 least satisfied – 10 extremely satisfied)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ce05c435_4951_4351_a516_cc69cce6fbf2_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ce05c435_4951_4351_a516_cc69cce6fbf2</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10pt;&quot;&gt;How satisfied are you with the Project Manager&amp;nbsp;in terms of&amp;nbsp;&lt;em&gt;Willingness to help &lt;/em&gt;y&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ou? &lt;/strong&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;(0 least satisfied – 10 extremely satisfied)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b8df3848_9df6_4404_ad70_bc95050b9d30</name>
            <choiceReferences>c_20d89768_f837_4ab6_b8d6_1c28dbcb3e1f</choiceReferences>
            <choiceReferences>c_24d5c374_a61b_45f1_ae3a_e947fa9ce4bb</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;PP Object Sans&amp;quot;; font-size: 10pt;&quot;&gt;May we contact you if we need to clarify or discuss any of your answers?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1229587d_4b43_439f_aa58_dd53a49f78f7</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;PP Object Sans&amp;quot;; font-size: 10pt;&quot;&gt;Phone Number&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b8df3848_9df6_4404_ad70_bc95050b9d30</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_20d89768_f837_4ab6_b8d6_1c28dbcb3e1f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f6a3853d_74a3_4fa2_a433_5f456621c48e</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: &amp;quot;PP Object Sans&amp;quot;;&quot;&gt;Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b8df3848_9df6_4404_ad70_bc95050b9d30</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_20d89768_f837_4ab6_b8d6_1c28dbcb3e1f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_6481950f_a6ba_4076_905b_81b358ca8645</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 26px;&quot;&gt;Thank you for taking the time to complete the survey!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;Thank you for choosing Frontier for your communication needs.&amp;nbsp;Please take a moment to tell us about your recent experience.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_32cd04df_1312_46c9_ac6b_fba990f8f55f_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_343a35a9_cfb6_4935_94ba_96943fe6db21_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_38218780_104a_458d_879f_e9f73cbe5d24_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_a7ef499b_f5e5_4901_abce_035e1769d1ef_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_aea8d4c9_211e_483b_9261_c5a659ee9aff_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_ca111138_e625_4282_a15d_efc9cfba1ac8_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_ce05c435_4951_4351_a516_cc69cce6fbf2_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
