UCF-APR2.4/ftr main/force-app/main/default/flows/Number_of_BDT_s_Calculation_on_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Address_records.State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Address_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Record_found</name>
        <label>Is Record found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Address_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Address_records</targetReference>
            </connector>
            <label>record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Unique_State_present</name>
        <label>Is Unique State present?</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Increment_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>State_is_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StateList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Address_records.State__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Address_records</targetReference>
            </connector>
            <label>State is duplicate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BDT&apos;s Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Number of BDT&apos;s Calculation on Opp</label>
    <loops>
        <name>Loop_Address_records</name>
        <label>Loop Address records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Fetch_Address_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Unique_State_present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Address records related to Opportunity</description>
        <name>Fetch_Address_records</name>
        <label>Fetch Address records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Address_Lost_checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BDT_Required_checkbox__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UNI_NNI_Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1G</stringValue>
            </value>
        </filters>
        <filters>
            <field>UNI_NNI_Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10G</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FTRWSAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Number of BDTs (by Territory) field in related opportunity</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_BDTs__c</field>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Address_records</targetReference>
        </connector>
        <object>FTRWSAddress__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FTRWSAddress__c</objectType>
    </variables>
    <variables>
        <name>StateList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
