UCF-APR2.4/ftr main/force-app/main/default/flows/Opportunity_Schedule_Update_Wholesale_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Adding opportunities to variable.</description>
        <name>Add_Opportunity_Records</name>
        <label>Add Opportunity Records</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>varR_Opportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Stage as Closed/Lost
Set Reason Lost as Expired.</description>
        <name>Set_Stage_and_Reason_Lost</name>
        <label>Set Stage and Reason Lost</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Opportunities.Reason_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed/Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <description>&gt; Close all the wholesale opportunities if the Close date is already passed. (Close Data = Yesterday)
&gt; Put Reason Won/Lost as &apos;Expired.&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>forDT_TodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Opportunity Schedule: Update Wholesale Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Schedule: Update Wholesale Opp</label>
    <loops>
        <name>Iterate_Opportunities</name>
        <label>Iterate Opportunities</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Wholesale_Open_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Stage_and_Reason_Lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Carrier_Service_Record_Type_Id</name>
        <label>Get Carrier Service Record Type Id</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Wholesale_Open_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carrier_Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wholesale_Open_Opportunities</name>
        <label>Get Wholesale Open Opportunities</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Carrier_Service_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>forDT_TodaysDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <inputReference>varR_Opportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Carrier_Service_Record_Type_Id</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-30</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
