UCF-APR2.4/ftr main/force-app/main/default/flows/OpportunityLineItem_After_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_NonVlocity_OLI</name>
        <label>Assign NonVlocity OLI</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newOLI.Service_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteItem__r.Service_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOLI.NRC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteItem__r.AdjustedNRC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vlocity_OLI</name>
        <label>Assign Vlocity OLI</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newOLI.Service_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qli_Service_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOLI.NRC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteLineItem__r.vlocity_cmt__OneTimeCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quote_Type</name>
        <label>Check Quote Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Vlocity_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuoteLineItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vlocity_OLI</targetReference>
            </connector>
            <label>Is Vlocity Quote</label>
        </rules>
        <rules>
            <name>Is_NonVlocity_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuoteItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteLineItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NonVlocity_OLI</targetReference>
            </connector>
            <label>Is NonVlocity Quote</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>qli_Service_Address</name>
        <dataType>String</dataType>
        <expression>{!$Record.QuoteLineItem__r.vlocity_cmt__ServiceAccountId__r.ShippingStreet}+&apos;,&apos;+{!$Record.QuoteLineItem__r.vlocity_cmt__ServiceAccountId__r.ShippingCity}+&apos;,&apos;+
{!$Record.QuoteLineItem__r.vlocity_cmt__ServiceAccountId__r.ShippingState}+&apos;,&apos;+{!$Record.QuoteLineItem__r.vlocity_cmt__ServiceAccountId__r.ShippingPostalCode}+&apos;,&apos;+{!$Record.QuoteLineItem__r.vlocity_cmt__ServiceAccountId__r.ShippingCountry}</expression>
    </formulas>
    <interviewLabel>OpportunityLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityLineItem: After Create or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_OLI</name>
        <label>Update OLI</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>NRC__c</field>
            <value>
                <elementReference>newOLI.NRC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address__c</field>
            <value>
                <elementReference>newOLI.Service_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Quote_Type</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>newOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
