UCF-APR2.4/ftr main/force-app/main/default/flows/Opportunity_On_Create_or_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NPS_AESurvey</name>
        <label>NPS_AESurvey</label>
        <locationX>574</locationX>
        <locationY>755</locationY>
        <actionName>nps_ae_experience_assessment_transactional</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!LoopContacts.ContactId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoExpiryDays</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PostChatter</name>
        <label>PostChatter</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_Into_Acct_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>InactiveUserMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AsgnOpptyMember</name>
        <label>AsgnOpptyMember</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varOpptyTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpptyTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Into_Acct_Team.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpptyTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpptyTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Into_Acct_Team.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpptyTeamMember.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Into_Acct_Team.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpptyMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>334</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Oppty_RecType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>forIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#CTF Customer Service Analyst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#CTF RegionalSalesMgr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frontier Sales User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#BAM - Business Account Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Acct_Team_AE1_and_ISAM</targetReference>
            </connector>
            <label>New and Internal User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Owner</name>
        <label>Is Opportunity Owner</label>
        <locationX>292</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_User_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Into_Acct_Team.UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Into_Acct_Team</targetReference>
            </connector>
            <label>Opportunity Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Active</name>
        <label>Is User Active?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>PostChatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Into_Acct_Team.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsgnOpptyMember</targetReference>
            </connector>
            <label>User is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_RecType</name>
        <label>Oppty RecType</label>
        <locationX>618</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lightning_Oppty_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity Lightning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSurveyNotSentLast30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSurveyContacts</targetReference>
            </connector>
            <label>Lightning Oppty Closed/Won</label>
        </rules>
    </decisions>
    <description>Oppty replication for the opptys with correct profiles + Send AE Survey + Upd AE Survey Date</description>
    <environments>Default</environments>
    <formulas>
        <name>forIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varSurveyNotSentLast30Days</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISNULL({!$Record.Account.Last_AE_Survey_Sent__c}), AND(NOT(ISNULL({!$Record.Account.Last_AE_Survey_Sent__c})), OR(TODAY() - {!$Record.Account.Last_AE_Survey_Sent__c} &gt; 30, TODAY() - {!$Record.Account.Last_AE_Survey_Sent__c} &lt; 0)))</expression>
    </formulas>
    <interviewLabel>Opportunity: On Create or Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: On Create or Edit</label>
    <loops>
        <name>Loop_Into_Acct_Team</name>
        <label>Loop Into Acct Team</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Acct_Team_AE1_and_ISAM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Opportunity_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>486</locationX>
        <locationY>647</locationY>
        <collectionReference>GetSurveyContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NPS_AESurvey</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Last_AE_Survey_Sent_Date_in_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateOpptyMember</name>
        <label>CreateOpptyMember</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Loop_Into_Acct_Team</targetReference>
        </connector>
        <inputReference>varOpptyTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Acct_Team_AE1_and_ISAM</name>
        <label>Get Acct Team AE1 and ISAM</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Into_Acct_Team</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AE1</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ISAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSurveyContacts</name>
        <label>GetSurveyContacts</label>
        <locationX>486</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survey Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_AE_Survey_Sent_Date_in_Account</name>
        <label>Update Last AE Survey Sent Date in Account</label>
        <locationX>486</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_AE_Survey_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>208</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>InactiveUserMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi @{!$User.Id},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The user: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Into_Acct_Team.User.Name}&lt;/span&gt; is inactive in the salesforce org.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOpptyTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
