UCF-APR2.4/ftr main/force-app/main/default/flows/Order_Create_FAW_Hotcut_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_FAW_HOT_CUTS_Queue</name>
        <label>Email FAW HOT CUTS Queue</label>
        <locationX>1309</locationX>
        <locationY>158</locationY>
        <actionName>Case.Generic_Case_Notificaiton</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Comma</name>
        <label>Add Comma</label>
        <locationX>1605</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>vEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Email_List</name>
        <label>Create Email List</label>
        <locationX>1855</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>vEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vQueueMemberEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Comma</targetReference>
        </connector>
    </assignments>
    <description>Only replaced the &apos;Salesforce_Order_Number__c&apos; field with the &apos;Orderz__c&apos; field.
As a part of merging two same Order lookup fields on the Case Object.(RT FAW_UCaaS_Hot_Cuts to Standard)</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Frontier Anyware HotCut for Order Number &quot; &amp; {!vOrderNum}</expression>
    </formulas>
    <interviewLabel>Order - Create FAW Hotcut Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Create FAW Hotcut Case Flow</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1504</locationX>
        <locationY>492</locationY>
        <assignNextValueToReference>loopQueueMembers</assignNextValueToReference>
        <collectionReference>listQueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_User</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1096</locationX>
        <locationY>161</locationY>
        <assignRecordIdToReference>vCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Email_FAW_HOT_CUTS_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAcctID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>vBusHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HotCuts_OSO__c</field>
            <value>
                <elementReference>vOrderNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HotCuts_Order_Status__c</field>
            <value>
                <elementReference>vOrderStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRC__c</field>
            <value>
                <elementReference>vMRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NRC__c</field>
            <value>
                <elementReference>vNRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vOpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orderz__c</field>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Account Executive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_State__c</field>
            <value>
                <elementReference>vServiceState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Queue_Members</name>
        <label>Find Queue Members</label>
        <locationX>1303</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>listQueueMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Vars</name>
        <label>Get Order Vars</label>
        <locationX>233</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>vAcctID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMRC</assignToReference>
            <field>MRC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vNRC</assignToReference>
            <field>NRC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOpptyID</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderNum</assignToReference>
            <field>OrderNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderStage</assignToReference>
            <field>Order_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vServiceState</assignToReference>
            <field>ShippingStateCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Business_Hours</name>
        <label>Lookup Business Hours</label>
        <locationX>889</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputAssignments>
            <assignToReference>vBusHours</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Queue</name>
        <label>Lookup Queue</label>
        <locationX>448</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_RecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_Cuts_Frontier_Anyware</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RecordTypeID</name>
        <label>Lookup RecordTypeID</label>
        <locationX>655</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Business_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>1851</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Email_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopQueueMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vQueueMemberEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Vars</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>list_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>listQueueMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>loop_QueueMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>loopQueueMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>QueueMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBusHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vNRC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueueMemberEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vServiceState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
