UCF-APR2.4/ftr main/force-app/main/default/flows/Order_Correction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navigateToTask</name>
        <label>navigateToTask</label>
        <locationX>848</locationX>
        <locationY>360</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Implementation_Specialist_Data</name>
        <label>Set Implementation Specialist Data</label>
        <locationX>375</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>AssignedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Record.ftrImplementationSpecialistName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Correction_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Value</name>
        <label>User Value</label>
        <locationX>58</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>AssignedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Record.Owners_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Correction_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PriorityCritical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>PriorityHigh</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>StatusListCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>StatusListInProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>StatusListNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubjectListOrderResolutionRequired</name>
        <choiceText>Order Resolution Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Resolution Required</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Specialist_is_blank</name>
        <label>Specialist is blank?</label>
        <locationX>414</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Set_Implementation_Specialist_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Blank</defaultConnectorLabel>
        <rules>
            <name>Specialist_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Record.Network_Project_Specialist__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Stage_Owner_is_User</targetReference>
            </connector>
            <label>Specialist Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Owner_is_User</name>
        <label>Stage Owner is User?</label>
        <locationX>186</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Processed_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not A User</defaultConnectorLabel>
        <rules>
            <name>Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageOwnerRecordTypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserDigits</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stage_Owner_Id</targetReference>
            </connector>
            <label>Is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Owner_is_Current_User</name>
        <label>Task Owner is Current User?</label>
        <locationX>840</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Task_Screen_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner Is Not Current User</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Current_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedToId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>navigateToTask</targetReference>
            </connector>
            <label>Owner is Current User</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>orderCorrectionRequired</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Order_Correction_Required__c</picklistField>
        <picklistObject>Task</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>taskSubject</name>
        <collectionReference>Get_Subject_Values</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <formulas>
        <name>StageOwnerRecordTypeCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!Order_Record.OwnerId}, 3)</expression>
    </formulas>
    <interviewLabel>Order Correction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Task: Order Correction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>629</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>taskId</assignRecordIdToReference>
        <connector>
            <targetReference>Task_Owner_is_Current_User</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Correction_Required__c</field>
            <value>
                <elementReference>Order_Correction_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_RecordType_by_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Action_Taken__c</field>
            <value>
                <elementReference>Resolution_Action_Taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Resolution Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Order_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>get_RecordType_by_Name</name>
        <label>get RecordType by Name</label>
        <locationX>837</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subject_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Correction</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stage_Owner_Id</name>
        <label>Get Stage Owner Id</label>
        <locationX>50</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subject_Values</name>
        <label>Get Subject Values</label>
        <locationX>585</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task.Subject</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Record</name>
        <label>Order Record</label>
        <locationX>585</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specialist_is_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Order_Correction_Screen</name>
        <label>Order Correction Screen</label>
        <locationX>327</locationX>
        <locationY>574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;New Task: Order Correction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Order_Correction_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Correction_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TaskNumber</name>
                    <fieldText>&lt;p&gt;Task Number&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Correction_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssignedToValue</name>
                    <fieldText>&lt;p&gt;Assigned To&lt;/p&gt;&lt;p&gt;{!AssignedTo}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Order_Correction_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Correction_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>StatusListNew</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>StatusListNew</defaultSelectedChoiceReference>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Correction_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Due_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DueDate</elementReference>
                    </defaultValue>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Order_Correction_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Correction_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>PriorityCritical</choiceReferences>
                    <choiceReferences>PriorityHigh</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>PriorityCritical</defaultSelectedChoiceReference>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Subject</name>
                    <fieldText>&lt;p&gt;Subject&lt;/p&gt;&lt;p&gt;Order Resolution Required&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Correction_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>taskRecordType</name>
                    <fieldText>&lt;p&gt;Task Record Type&lt;/p&gt;&lt;p&gt;{!get_RecordType_by_Name.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>orderCorrection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Order Correction Details &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Order_Correction_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Correction_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderNumberID</name>
                    <fieldText>&lt;p&gt;Related To&lt;/p&gt;&lt;p&gt;{!Order_Record.OrderNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Correction_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Correction_Required</name>
                    <choiceReferences>orderCorrectionRequired</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Order Correction Required</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_Correction_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Correction_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>taskResolution</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Task Resolution (To be completed by Task Owner)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Order_Correction_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Correction_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Resolution_Action_Taken</name>
                    <dataType>String</dataType>
                    <fieldText>Resolution Action Taken</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>miscellaneous</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Miscellaneuos (Not Required)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Order_Correction_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Correction_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <fieldText>&lt;p&gt;Name&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Correction_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Processed_Message</name>
        <label>Processed Message</label>
        <locationX>86</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotReadyYet</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your Order Correction request cannot be proccesed now. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Screen_Message</name>
        <label>Task Screen Message</label>
        <locationX>1028</locationX>
        <locationY>354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your order correction request was successfully created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>711</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_RecordType_by_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupDigits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsBlank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Task.RecordTypeId</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Task.Task_Number__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserDigits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005</stringValue>
        </value>
    </variables>
</Flow>
