UCF-APR2.4/ftr main/force-app/main/default/flows/Partner_Portal_Permission_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>CSRID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>s_partneragent</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comms_Cloud_CC_found</name>
        <label>Comms Cloud CC found?</label>
        <locationX>408</locationX>
        <locationY>945</locationY>
        <defaultConnector>
            <targetReference>Get_DocGenIndCmeRuntime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCommsCloudCCFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comms_Cloud_CC_Runtime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comms_Cloud_CC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comms_Cloud_PC_found</name>
        <label>Comms Cloud PC found?</label>
        <locationX>407</locationX>
        <locationY>764</locationY>
        <defaultConnector>
            <targetReference>Comms_Cloud_CC_Runtime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCommsCloudPCFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comms_Cloud_PC_Runtime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comms_Cloud_PC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DocGenIndCmeRuntime_Found</name>
        <label>DocGenIndCmeRuntime Found?</label>
        <locationX>396</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Add_Partner_Portal_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDocGenICmeRuntimeFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DocGenIndCmeRuntime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DocGenIndCmeRuntime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dp_Assignment_Found</name>
        <label>Assignment Found</label>
        <locationX>536</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAssignmentID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <description>Adding CC Permission set - Correction</description>
    <environments>Default</environments>
    <formulas>
        <name>ID_Username</name>
        <dataType>String</dataType>
        <expression>{!vUserID} &amp; &quot;@ftr.com&quot;</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Name: &apos;&amp;{!vFirstName}&amp;&apos; &apos;&amp;{!vLastname}&amp;BR()&amp;
&apos;Id: &apos;&amp;{!vUserID}</expression>
    </formulas>
    <formulas>
        <name>vEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Please assign vlocity License to this portal user&apos;</expression>
    </formulas>
    <formulas>
        <name>vLastNameWPartner</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!vLastname}, &quot;(Partner)&quot;), {!vLastname}, {!vLastname}&amp;&quot; (Partner)&quot;)</expression>
    </formulas>
    <interviewLabel>Partner Portal Permission Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Portal Permission Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Partner_Portal_Permission_Set</name>
        <label>Add Partner Portal Permission Set</label>
        <locationX>221</locationX>
        <locationY>1220</locationY>
        <connector>
            <targetReference>Add_Partner_Portal_Permission_Set_Group_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PartnerPermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Partner_Portal_Permission_Set_Group_Id</name>
        <label>Add Partner Portal Permission Set Group Id</label>
        <locationX>223</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Complete_User_Setup</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>PartnerPermissionSetGroupID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Comms_Cloud_CC</name>
        <label>Assign Comms Cloud CC</label>
        <locationX>556</locationX>
        <locationY>969</locationY>
        <connector>
            <targetReference>Get_DocGenIndCmeRuntime</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Comms_Cloud_CC_Runtime.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Comms_Cloud_PC</name>
        <label>Assign Comms Cloud PC</label>
        <locationX>563</locationX>
        <locationY>777</locationY>
        <connector>
            <targetReference>Comms_Cloud_CC_Runtime</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Comms_Cloud_PC_Runtime.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_DocGenIndCmeRuntime</name>
        <label>Assign DocGenIndCmeRuntime</label>
        <locationX>539</locationX>
        <locationY>1126</locationY>
        <connector>
            <targetReference>Add_Partner_Portal_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_DocGenIndCmeRuntime.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User_Provisiong_Record</name>
        <label>Create User Provisiong Record</label>
        <locationX>336</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>vCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>vFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>vLastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>vTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>vUsername</elementReference>
            </value>
        </inputAssignments>
        <object>User_Provisioning__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Comms_Cloud_CC_Runtime</name>
        <label>Comms Cloud CC Runtime</label>
        <locationX>221</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comms_Cloud_CC_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommunicationsCloudPlusCCRuntime</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Comms_Cloud_PC_Runtime</name>
        <label>Comms Cloud PC Runtime</label>
        <locationX>222</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comms_Cloud_PC_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommunicationsCloudPlusPCRuntime</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DocGenIndCmeRuntime</name>
        <label>Get DocGenIndCmeRuntime</label>
        <locationX>222</locationX>
        <locationY>1093</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DocGenIndCmeRuntime_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DocGenIndCmeRuntime</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_ID</name>
        <label>Get Permission Set ID</label>
        <locationX>536</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dp_Assignment_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerPermissionSetID</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>vAssignmentID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>334</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User_Provisiong_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vNickname</assignToReference>
            <field>CommunityNickname</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCompany</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastname</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUsername</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Provisioning_Record</name>
        <label>Get User Provisioning Record</label>
        <locationX>222</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comms_Cloud_PC_Runtime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_User_Provisiong_Record</elementReference>
            </value>
        </filters>
        <object>User_Provisioning__c</object>
        <outputAssignments>
            <assignToReference>vCity</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCompany</assignToReference>
            <field>Company_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastname</assignToReference>
            <field>Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPostalCode</assignToReference>
            <field>Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vState</assignToReference>
            <field>State_Picklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vStreetAddress</assignToReference>
            <field>Street_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSubAgent</assignToReference>
            <field>Sub_Agent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimezone</assignToReference>
            <field>Timezone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTitle</assignToReference>
            <field>Title__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Provisioning_Record_0</name>
        <label>Get User Provisioning Record</label>
        <locationX>746</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disable_Unapproved_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_User_Provisiong_Record</elementReference>
            </value>
        </filters>
        <object>User_Provisioning__c</object>
        <outputAssignments>
            <assignToReference>vCity</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCompany</assignToReference>
            <field>Company_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastname</assignToReference>
            <field>Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPostalCode</assignToReference>
            <field>Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vState</assignToReference>
            <field>State_Picklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vStreetAddress</assignToReference>
            <field>Street_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSubAgent</assignToReference>
            <field>Sub_Agent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTimezone</assignToReference>
            <field>Timezone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTitle</assignToReference>
            <field>Title__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Complete_User_Setup</name>
        <label>Complete User Setup</label>
        <locationX>223</locationX>
        <locationY>1507</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Creation_Allowed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSR_ID__c</field>
            <value>
                <elementReference>CSRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>vCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName</field>
            <value>
                <elementReference>vCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>vLastNameWPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_User__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>vPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>vNewProfileID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpringCMEos__SpringCM_User__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>vState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>vStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Agent__c</field>
            <value>
                <elementReference>vSubAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>vTimezone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>vTitle</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Disable_Unapproved_User</name>
        <label>Disable Unapproved User</label>
        <locationX>746</locationX>
        <locationY>687</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName</field>
            <value>
                <elementReference>vCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPortalEnabled</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>ID_Username</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Permission_Set_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;A portal user has recently been created and Approved. Please assign vlocity CMT license to this user.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;User: {!vFirstName} {!vLastname}&lt;/p&gt;&lt;p&gt;Id: {!vUserID}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllEmailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerPermissionSetGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartnerPermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAdminEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None Found</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNickname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>vUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUserProvisioningID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>485</locationX>
        <locationY>543</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Provisioning_Approved</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_User_Provisioning_Record</targetReference>
            </connector>
            <eventType>User_Provision_Approval__e</eventType>
            <inputParameters>
                <name>User_Provisioning_ID__c</name>
                <value>
                    <elementReference>Create_User_Provisiong_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Approved__c</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <label>Provisioning Approved</label>
        </waitEvents>
        <waitEvents>
            <name>Provisioning_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_User_Provisioning_Record_0</targetReference>
            </connector>
            <eventType>User_Provision_Approval__e</eventType>
            <inputParameters>
                <name>User_Provisioning_ID__c</name>
                <value>
                    <elementReference>Create_User_Provisiong_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Rejected__c</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <label>Provisioning Rejected</label>
        </waitEvents>
    </waits>
</Flow>
