UCF-APR2.4/ftr main/force-app/main/default/flows/Past_Due_Count_New_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increment_PDC</name>
        <label>Increment PDC</label>
        <locationX>843</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>vPastDueCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PDC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PDC_Check</name>
        <label>PDC Check</label>
        <locationX>598</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_PDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPDCID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_PDC</targetReference>
            </connector>
            <label>New PDC</label>
        </rules>
        <rules>
            <name>Existing_PDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPDCID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_PDC</targetReference>
            </connector>
            <label>Existing PDC</label>
        </rules>
    </decisions>
    <description>This creates a new Past Due Counter when a new owner takes ownership of the case</description>
    <interviewLabel>Past Due Count - New Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Past Due Count - New Owner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_PDC</name>
        <label>Create New PDC</label>
        <locationX>898</locationX>
        <locationY>177</locationY>
        <inputAssignments>
            <field>CSA__c</field>
            <value>
                <elementReference>vOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Due_Counter__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Past_Due_Count__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lkup_PDC</name>
        <label>Lkup_PDC</label>
        <locationX>359</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PDC_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOwner</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <object>Past_Due_Count__c</object>
        <outputAssignments>
            <assignToReference>vPDCID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPastDueCounter</assignToReference>
            <field>Past_Due_Counter__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_PDC</name>
        <label>Update PDC</label>
        <locationX>1055</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOwner</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Past_Due_Counter__c</field>
            <value>
                <elementReference>vPastDueCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Past_Due_Count__c</object>
    </recordUpdates>
    <startElementReference>Lkup_PDC</startElementReference>
    <status>Active</status>
    <variables>
        <name>vCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPastDueCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vPDCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
