UCF-APR2.4/ftr main/force-app/main/default/flows/Past_Due_Counter_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Past Due Count - Increment</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>PDC Increment Flow</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Past_Due_Count_Increment</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vCase</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>vCase</name>
            <value>
                <elementReference>formula_2_myRule_1_A1_3501488236</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vOwner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>vOwner</name>
            <value>
                <elementReference>formula_3_myRule_1_A1_5951345920</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Past Due Count - Increment</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>PDC Increment Flow</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Past_Due_Count_Increment</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vCase</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>vCase</name>
            <value>
                <elementReference>formula_6_myRule_5_A1_3956165053</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vOwner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>vOwner</name>
            <value>
                <elementReference>formula_7_myRule_5_A1_2382220912</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Past Due Count - New Owner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>PDC New Owner Flow</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Past_Due_Count_New_Owner</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vCase</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>vCase</name>
            <value>
                <elementReference>formula_10_myRule_9_A1_6902955086</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vOwner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>vOwner</name>
            <value>
                <elementReference>formula_11_myRule_9_A1_5205736845</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Increment</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Owner Change</label>
        </rules>
    </decisions>
    <description>This process works with the flows and it creates Past Due Counters and increments them based on the situation</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_6902955086</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].OwnerId </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_5205736845</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.OwnerId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3501488236</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].OwnerId </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_5951345920</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.OwnerId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_3956165053</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].OwnerId </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_2382220912</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.OwnerId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(), 
BEGINS([Case].OwnerId, &quot;005&quot;),

OR(
[Case].RecordType.Name ==&quot;Billing&quot;,
[Case].RecordType.Name ==&quot;CAP&quot;,
[Case].RecordType.Name ==&quot;Certificate of Acceptance&quot;,
[Case].RecordType.Name ==&quot;Change Order&quot;,
[Case].RecordType.Name ==&quot;CPE Maintenance&quot;,
[Case].RecordType.Name ==&quot;CSR&quot;,
[Case].RecordType.Name ==&quot;Document Validation&quot;,
[Case].RecordType.Name ==&quot;Hot Cuts&quot;,
[Case].RecordType.Name ==&quot;M6 Escalation&quot;,
[Case].RecordType.Name ==&quot;Misc&quot;,
[Case].RecordType.Name ==&quot;Order Entry Errors&quot;,
[Case].RecordType.Name ==&quot;Order Management&quot;,
[Case].RecordType.Name ==&quot;Payment Investigation&quot;,
[Case].RecordType.Name ==&quot;Project&quot;,
[Case].RecordType.Name ==&quot;QMC&quot;,
[Case].RecordType.Name ==&quot;Repair&quot;,
[Case].RecordType.Name ==&quot;Revenue Assurance&quot;,
[Case].RecordType.Name ==&quot;Salesforce - Sales &amp; Operations Support&quot;,
[Case].RecordType.Name ==&quot;SC Ethernet&quot;,
[Case].RecordType.Name ==&quot;Tables Request&quot;,
[Case].RecordType.Name ==&quot;Welcome Pack&quot;
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(), 
BEGINS({!myVariable_current.OwnerId}, &quot;005&quot;),

OR(
{!myVariable_current.RecordType.Name} ==&quot;Billing&quot;,
{!myVariable_current.RecordType.Name} ==&quot;CAP&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Certificate of Acceptance&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Change Order&quot;,
{!myVariable_current.RecordType.Name} ==&quot;CPE Maintenance&quot;,
{!myVariable_current.RecordType.Name} ==&quot;CSR&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Document Validation&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Hot Cuts&quot;,
{!myVariable_current.RecordType.Name} ==&quot;M6 Escalation&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Misc&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Order Entry Errors&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Order Management&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Payment Investigation&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Project&quot;,
{!myVariable_current.RecordType.Name} ==&quot;QMC&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Repair&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Revenue Assurance&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Salesforce - Sales &amp; Operations Support&quot;,
{!myVariable_current.RecordType.Name} ==&quot;SC Ethernet&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Tables Request&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Welcome Pack&quot;
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

OR(
ISCHANGED([Case].Follow_Up_Date__c ) &amp;&amp;
PRIORVALUE([Case].Follow_Up_Date__c ) &lt; Today(),

[Case].IsClosed == True &amp;&amp; 
[Case].Follow_Up_Date__c  &lt; Today()
),

BEGINS([Case].OwnerId, &quot;005&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(

OR(
ISCHANGED({!myVariable_current.Follow_Up_Date__c} ) &amp;&amp;
PRIORVALUE({!myVariable_current.Follow_Up_Date__c} ) &lt; Today(),

{!myVariable_current.IsClosed} == True &amp;&amp; 
{!myVariable_current.Follow_Up_Date__c}  &lt; Today()
),

BEGINS({!myVariable_current.OwnerId}, &quot;005&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Case].OwnerId) ,
BEGINS([Case].OwnerId, &quot;005&quot;),

OR(

[Case].RecordType.Name ==&quot;Billing&quot;,
[Case].RecordType.Name ==&quot;CAP&quot;,
[Case].RecordType.Name ==&quot;Certificate of Acceptance&quot;,
[Case].RecordType.Name ==&quot;Change Order&quot;,
[Case].RecordType.Name ==&quot;CPE Maintenance&quot;,
[Case].RecordType.Name ==&quot;CSR&quot;,
[Case].RecordType.Name ==&quot;Document Validation&quot;,
[Case].RecordType.Name ==&quot;Hot Cuts&quot;,
[Case].RecordType.Name ==&quot;M6 Escalation&quot;,
[Case].RecordType.Name ==&quot;Misc&quot;,
[Case].RecordType.Name ==&quot;Order Entry Errors&quot;,
[Case].RecordType.Name ==&quot;Order Management&quot;,
[Case].RecordType.Name ==&quot;Payment Investigation&quot;,
[Case].RecordType.Name ==&quot;Project&quot;,
[Case].RecordType.Name ==&quot;QMC&quot;,
[Case].RecordType.Name ==&quot;Repair&quot;,
[Case].RecordType.Name ==&quot;Revenue Assurance&quot;,
[Case].RecordType.Name ==&quot;Salesforce - Sales &amp; Operations Support&quot;,
[Case].RecordType.Name ==&quot;SC Ethernet&quot;,
[Case].RecordType.Name ==&quot;Tables Request&quot;,
[Case].RecordType.Name ==&quot;Welcome Pack&quot;

))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.OwnerId}) ,
BEGINS({!myVariable_current.OwnerId}, &quot;005&quot;),

OR(

{!myVariable_current.RecordType.Name} ==&quot;Billing&quot;,
{!myVariable_current.RecordType.Name} ==&quot;CAP&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Certificate of Acceptance&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Change Order&quot;,
{!myVariable_current.RecordType.Name} ==&quot;CPE Maintenance&quot;,
{!myVariable_current.RecordType.Name} ==&quot;CSR&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Document Validation&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Hot Cuts&quot;,
{!myVariable_current.RecordType.Name} ==&quot;M6 Escalation&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Misc&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Order Entry Errors&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Order Management&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Payment Investigation&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Project&quot;,
{!myVariable_current.RecordType.Name} ==&quot;QMC&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Repair&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Revenue Assurance&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Salesforce - Sales &amp; Operations Support&quot;,
{!myVariable_current.RecordType.Name} ==&quot;SC Ethernet&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Tables Request&quot;,
{!myVariable_current.RecordType.Name} ==&quot;Welcome Pack&quot;

))</expression>
    </formulas>
    <interviewLabel>Past_Due_Counter_Process-6_InterviewLabel</interviewLabel>
    <label>Past Due Counter Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
