UCF-APR2.4/ftr main/force-app/main/default/flows/port_out_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_cd174664_46d9_4383_95db_137154f2b9a8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0e52ebab_3011_403a_8ba3_6896992c323f</name>
        <choiceText>Ooma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ooma</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f9377bd_598f_4ab9_9d7c_9b5f05cd0a2e</name>
        <choiceText>Better product reliability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Better product reliability</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_111701f9_42b9_43bb_9e26_00f6eab160d0</name>
        <choiceText>RingCentral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RingCentral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1688e7ff_8f18_45be_9a33_467de425158c</name>
        <choiceText>Advanced voice solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advanced voice solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_244ec7e5_0157_4b37_a1fc_23a1de41f723</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2dfbde6a_166a_42b6_8b05_3a698e9a378c</name>
        <choiceText>Better price</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Better price</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_363e171d_0754_4408_aa70_7782394b163e</name>
        <choiceText>Other, please specify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other, please specify</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3d86f5b1_cb82_459d_bcf7_8c78afee9582</name>
        <choiceText>MS Teams</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MS Teams</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f9b2ea9_4a18_4438_b71d_bd49669cad7a</name>
        <choiceText>Other, please specify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other, please specify</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_47e3fb54_251f_4318_b34b_fe41961505d3</name>
        <choiceText>Billing issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4aaf77ff_984c_419e_bfe3_15e87ee740c8</name>
        <choiceText>Zoom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Zoom</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_54e9a479_a583_4132_ba86_788348125176</name>
        <choiceText>Customer Service issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5a69716e_9cb3_460a_8ef9_e10d64b64153</name>
        <choiceText>Needed a more advanced voice solution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needed a more advanced voice solution</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_659798e1_d314_451a_a5e5_d82cb8110da1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_674ed1e6_4979_42aa_8c9d_c60416506597</name>
        <choiceText>Service reliability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service reliability</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_76535190_8c50_422e_82ad_64b3a606d492</name>
        <choiceText>Better technical service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Better technical service</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c5eeb0a_b784_495f_8807_e3462f07e290</name>
        <choiceText>Cloud based UC System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cloud based UC System</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8b2131d6_467c_45d1_8ae5_5fadc9d6943c</name>
        <choiceText>Other, please specify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other, please specify</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8d024208_97e4_4236_b465_276ef5dcd708</name>
        <choiceText>Other, please specify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other, please specify</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ac1b1a5c_3d60_4565_8752_740cc27fedf9</name>
        <choiceText>Account Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bad76723_867f_47fd_8989_5798e85dc948</name>
        <choiceText>Better price</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Better price</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_be87ff4b_2c21_4d1b_ba4a_71c65b7e4e1c</name>
        <choiceText>Pots replacement-VoIP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pots replacement-VoIP</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c7a9c3dc_2b76_4873_8a28_926d47d89236</name>
        <choiceText>Better customer service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Better customer service</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ca9ef76b_a6ab_4543_a530_8473e341baeb</name>
        <choiceText>8x8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8x8</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f4e33353_ff1a_4c1b_be28_3c656e67cb95</name>
        <choiceText>SIP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SIP</stringValue>
        </value>
    </choices>
    <interviewLabel>Port Out Survey</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Port Out Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_port_out_survey_25e5b855_8492_4bb1_b475_793abe34880d</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Frontier Communication &lt;commercial.sales.redline@ftr.com&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_cd174664_46d9_4383_95db_137154f2b9a8</name>
        <label>Survey Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d1b397d3_bdc8_4aab_a0d8_7aa5d17ce2ff</name>
            <choiceReferences>c_5a69716e_9cb3_460a_8ef9_e10d64b64153</choiceReferences>
            <choiceReferences>c_674ed1e6_4979_42aa_8c9d_c60416506597</choiceReferences>
            <choiceReferences>c_bad76723_867f_47fd_8989_5798e85dc948</choiceReferences>
            <choiceReferences>c_54e9a479_a583_4132_ba86_788348125176</choiceReferences>
            <choiceReferences>c_ac1b1a5c_3d60_4565_8752_740cc27fedf9</choiceReferences>
            <choiceReferences>c_47e3fb54_251f_4318_b34b_fe41961505d3</choiceReferences>
            <choiceReferences>c_3f9b2ea9_4a18_4438_b71d_bd49669cad7a</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Why did you disconnect your Voice services from Frontier Communications? (Select all that apply)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4d852bde_7646_42e1_98c1_61df702ac490</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter the &apos;Other&apos; reason for disconnect&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d1b397d3_bdc8_4aab_a0d8_7aa5d17ce2ff</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_3f9b2ea9_4a18_4438_b71d_bd49669cad7a</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_13fa2bbd_8cea_46c2_a30d_22c7d32270c4</name>
            <choiceReferences>c_1688e7ff_8f18_45be_9a33_467de425158c</choiceReferences>
            <choiceReferences>c_0f9377bd_598f_4ab9_9d7c_9b5f05cd0a2e</choiceReferences>
            <choiceReferences>c_2dfbde6a_166a_42b6_8b05_3a698e9a378c</choiceReferences>
            <choiceReferences>c_c7a9c3dc_2b76_4873_8a28_926d47d89236</choiceReferences>
            <choiceReferences>c_76535190_8c50_422e_82ad_64b3a606d492</choiceReferences>
            <choiceReferences>c_8d024208_97e4_4236_b465_276ef5dcd708</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;What would make you come back to Frontier Communications? (Select all that apply)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c63fa3e3_054f_4cf6_9141_5c94d3759add</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter the &apos;Other&apos; factor that would make you come back&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_13fa2bbd_8cea_46c2_a30d_22c7d32270c4</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_8d024208_97e4_4236_b465_276ef5dcd708</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9ddf962d_edca_4e38_847d_ee8f071106a0</name>
            <choiceReferences>c_111701f9_42b9_43bb_9e26_00f6eab160d0</choiceReferences>
            <choiceReferences>c_0e52ebab_3011_403a_8ba3_6896992c323f</choiceReferences>
            <choiceReferences>c_4aaf77ff_984c_419e_bfe3_15e87ee740c8</choiceReferences>
            <choiceReferences>c_ca9ef76b_a6ab_4543_a530_8473e341baeb</choiceReferences>
            <choiceReferences>c_363e171d_0754_4408_aa70_7782394b163e</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Which provider did yo&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;u switch to?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_048fd534_0057_437b_996f_7097e678e725</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter the &apos;Other&apos; provider&apos;s name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_9ddf962d_edca_4e38_847d_ee8f071106a0</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_363e171d_0754_4408_aa70_7782394b163e</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_858b221a_de50_4122_a4d5_937d5bd4697e</name>
            <choiceReferences>c_7c5eeb0a_b784_495f_8807_e3462f07e290</choiceReferences>
            <choiceReferences>c_3d86f5b1_cb82_459d_bcf7_8c78afee9582</choiceReferences>
            <choiceReferences>c_be87ff4b_2c21_4d1b_ba4a_71c65b7e4e1c</choiceReferences>
            <choiceReferences>c_f4e33353_ff1a_4c1b_be28_3c656e67cb95</choiceReferences>
            <choiceReferences>c_8b2131d6_467c_45d1_8ae5_5fadc9d6943c</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;What product did you &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;choose for your voice replacement?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b250378a_dfc2_4425_a72b_bbe31bb512c1</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter the &apos;Other&apos; voice product&apos;s name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_858b221a_de50_4122_a4d5_937d5bd4697e</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_8b2131d6_467c_45d1_8ae5_5fadc9d6943c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f29e3eda_3d23_4452_9d07_1e542da4ab88</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Is there anything else you wou&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ld like to share about your experience with Frontier?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c91f3d71_c124_44fa_88fb_fcad2d03f783</name>
            <choiceReferences>c_659798e1_d314_451a_a5e5_d82cb8110da1</choiceReferences>
            <choiceReferences>c_244ec7e5_0157_4b37_a1fc_23a1de41f723</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;May we contact you for ad&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ditional information?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a8f3b593_04ca_44a3_a395_4571851fd76e</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Name&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_c91f3d71_c124_44fa_88fb_fcad2d03f783</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_659798e1_d314_451a_a5e5_d82cb8110da1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed3b5a3f_ded0_431d_a1aa_1de6ffd7251c</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Preferred Email&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_c91f3d71_c124_44fa_88fb_fcad2d03f783</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_659798e1_d314_451a_a5e5_d82cb8110da1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e6bfa673_71e0_498c_a5cd_1b5b624feb9f</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Preferred Phone&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_c91f3d71_c124_44fa_88fb_fcad2d03f783</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_659798e1_d314_451a_a5e5_d82cb8110da1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_cd174664_46d9_4383_95db_137154f2b9a8</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; font-family: Calibri, sans-serif;&quot;&gt;Thank you for taking the time to complete the survey!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;We value your opinion and would like to find out why you discontinued your service. Please take a minute to complete this survey.&lt;/strong&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
