UCF-APR2.4/ftr main/force-app/main/default/flows/Prod_Revenue_to_OpptyCustomRollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignQtyAndRenMRR</name>
        <label>AssignQtyAndRenMRR</label>
        <locationX>617</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>varQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumRevFieldsLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumRevFieldsLoop.Renewal_MRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumRevValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumRevValues</name>
        <label>SumRevValues</label>
        <locationX>870</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>varRevNetNewMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumRevFieldsLoop.CPQ_NetNewMRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRevRenewalMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forTotRenMRR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumRevFieldsLoop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>forTotRenMRR</name>
        <dataType>Number</dataType>
        <expression>{!varQuantity} * {!varRenewalMRR}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Prod Revenue: to OpptyCustomRollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prod Revenue: to OpptyCustomRollup</label>
    <loops>
        <name>SumRevFieldsLoop</name>
        <label>SumRevFieldsLoop</label>
        <locationX>710</locationX>
        <locationY>137</locationY>
        <collectionReference>GetAllOpptyProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignQtyAndRenMRR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdOpptyRevVals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllOpptyProducts</name>
        <label>GetAllOpptyProducts</label>
        <locationX>508</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumRevFieldsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdOpptyRevVals</name>
        <label>UpdOpptyRevVals</label>
        <locationX>924</locationX>
        <locationY>137</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rev_Net_New_MRR__c</field>
            <value>
                <elementReference>varRevNetNewMRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rev_Renewal_MRR__c</field>
            <value>
                <elementReference>varRevRenewalMRR</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>42</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>GetAllOpptyProducts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Quantity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_MRR__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CPQ_NetNewMRR__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRenewalMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRevNetNewMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRevRenewalMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
