UCF-APR2.4/ftr main/force-app/main/default/flows/Record_Trigger_Survey_Invitation_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Account_Owner_Manager</name>
        <label>Send Email to Account Owner/Manager</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Survey_Invitation_With_Case_AE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>forT_AECaseOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A case was assigned to you based on a poor survey response (AE Survey)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_EmailNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Case_Owner</name>
        <label>Send Email to Case Owner</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Survey_Invitation_With_Case_CS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Case__r.Owner:User.Manager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A case was assigned to you based on a poor survey response (CSR Survey)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_EmailNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_PM_Manager</name>
        <label>Send Email to PM Manager</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Survey_Invitation_With_Case_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Order__r.Network_Project_Specialist__r.Manager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A case was assigned to you based on a poor survey response (PM Survey)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_EmailNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_NotNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResponseStatus</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResponseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Response_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Survey_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the owner is a user or a queue. User Id starts with 005 and Queue  Id starts with 00G. If the owner is a user then assign the bad response case to the manager and send email to the manager otherwise assign the case to the previous owner and don&apos;t send email.</description>
        <name>Is_Owner_a_User_or_Queue</name>
        <label>Is Owner a User or Queue?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Case_for_Case_Survey_To_Previous_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is Queue</defaultConnectorLabel>
        <rules>
            <name>Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Case_Survey_To_Manager</targetReference>
            </connector>
            <label>Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Survey_Type</name>
        <label>What is the Survey Type</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_AE</targetReference>
            </connector>
            <label>AE (Opportunity)</label>
        </rules>
        <rules>
            <name>PM_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_PM</targetReference>
            </connector>
            <label>PM (Order)</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_a_User_or_Queue</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>For AE Survey, owner will be account owner&apos;s manager/ account owner. 
Consolidated Release v1.0.2
V4 - Assign the Bad response case for CS Survey to the owner&apos;s manager.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_AECaseOwnerEmail</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK($Record.Company__r.Owner.ManagerId)),
  ($Record.Company__r.Owner.Manager.Email),
  ($Record.Company__r.Owner.Email)
)</expression>
    </formulas>
    <formulas>
        <name>forT_AECaseOwnerID</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK($Record.Company__r.Owner.ManagerId)),
  ($Record.Company__r.Owner.ManagerId),
  ($Record.Company__r.OwnerId)
)</expression>
    </formulas>
    <formulas>
        <name>forT_RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;.my.&apos;, $Api.Enterprise_Server_URL_510)) &amp; &apos;my.salesforce.com/&apos;&amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNew()</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Survey Invitation After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Survey Invitation After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_for_AE</name>
        <label>Create Case for AE</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Email_to_Account_Owner_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forT_RecordURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_AECaseOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120h000000CFevAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To2__c</field>
            <value>
                <stringValue>B2B Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Poor response on a survey (AE Survey)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Request__c</field>
            <value>
                <stringValue>General Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Case_Survey_To_Manager</name>
        <label>Create Case for Case Survey - To Manager</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Email_to_Case_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forT_RecordURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Case__r.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120h000000CFevAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To2__c</field>
            <value>
                <stringValue>B2B Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Poor response on a survey (Case Survey)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Request__c</field>
            <value>
                <stringValue>General Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Case_Survey_To_Previous_Owner</name>
        <label>Create Case for Case Survey - To Previous Owner</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Survey_Invitation_With_Case_CS</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forT_RecordURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120h000000CFevAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To2__c</field>
            <value>
                <stringValue>B2B Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Poor response on a survey (Case Survey)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Request__c</field>
            <value>
                <stringValue>General Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_PM</name>
        <label>Create Case for PM</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Email_to_PM_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forT_RecordURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orderz__c</field>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Order__r.Network_Project_Specialist__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120h000000CFevAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_To2__c</field>
            <value>
                <stringValue>B2B Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Poor response on a survey (PM Survey)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Request__c</field>
            <value>
                <stringValue>General Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Survey_Invitation_With_Case_AE</name>
        <label>Update Survey Invitation With Case AE</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Case_For_Bad_Response__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Invitation_With_Case_CS</name>
        <label>Update Survey Invitation With Case CS</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Case_For_Bad_Response__c</field>
            <value>
                <elementReference>Create_Case_for_Case_Survey_To_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Invitation_With_Case_PM</name>
        <label>Update Survey Invitation With Case PM</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Case_For_Bad_Response__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>SurveyInvitation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textT_EmailNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hi there,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A case has been created for a bad response on a survey and assigned to you. Please find the case link below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;forT_RecordURL&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;forT_RecordURL&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12.09px; font-family: Tahoma, Geneva, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12.09px; font-family: Tahoma, Geneva, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Frontier Communications&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
