UCF-APR2.4/ftr main/force-app/main/default/flows/Record_Trigger_Task_Update_Related_Lookup_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Related_To_Type</name>
        <label>Related To Type</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunityFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>ContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>LeadFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Added feature for updating Lead_Contact_State__c field. Value is pulled from WhoId&apos;s State Name.</description>
    <environments>Default</environments>
    <formulas>
        <name>forWhatId</name>
        <dataType>String</dataType>
        <expression>{!$Record.WhatId}</expression>
    </formulas>
    <formulas>
        <name>forWhoId</name>
        <dataType>String</dataType>
        <expression>{!$Record.WhoId}</expression>
    </formulas>
    <formulas>
        <name>OpportunityCampaignMember</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Opportunity_Record.CampaignId})), {!Get_Opportunity_Record.CampaignId},
IF(NOT(ISBLANK({!Get_Opportunity_Record.Secondary_Campaign_Name__c})), {!Get_Opportunity_Record.Secondary_Campaign_Name__c}, 
NULL))</expression>
    </formulas>
    <formulas>
        <name>WhatIdPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.WhatId},3)</expression>
    </formulas>
    <formulas>
        <name>WhoIdPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.WhoId}, 3)</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Task - Update Related Lookup Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Task - Update Related Lookup Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_latest_CampaignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forWhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_CampaignMember</name>
        <label>Get latest CampaignMember</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tasks_Campaign_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_CampaignMember_v2</name>
        <label>Get latest CampaignMember</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tasks_Campaign_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_latest_CampaignMember_v2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forWhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>State</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tasks_Opportunity_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forWhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>Secondary_Campaign_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks_Campaign_Field</name>
        <label>Update Task&apos;s Campaign Field</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_latest_CampaignMember_v2.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Contact_State_Name__c</field>
            <value>
                <elementReference>Get_Lead_Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks_Campaign_Fields</name>
        <label>Update Task&apos;s Campaign Fields</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_latest_CampaignMember.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Contact_State_Name__c</field>
            <value>
                <elementReference>Get_Contact_Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks_Opportunity_Fields</name>
        <label>Update Task&apos;s Opportunity fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>OpportunityCampaignMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_To_Type</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; (NOT(ISNULL({!$Record.WhatId})) || NOT(ISNULL({!$Record.WhoId})))) || (ISCHANGED({!$Record.WhatId}) || ISCHANGED({!$Record.WhatId}))</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
