UCF-APR2.4/ftr main/force-app/main/default/flows/Record_Trigger_Contract_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Account_Owner_Id</name>
        <label>Set Account Owner Id</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varT_AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_James_Dodd_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Owner_Id_Oppty</name>
        <label>Set Account Owner Id</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varT_AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Record_Type</name>
        <label>Account Record Type</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_Connections</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC_PortfolioCompany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC_Property</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Record_Type</targetReference>
            </connector>
            <label>Community Connections</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Record_Type</name>
        <label>Contract Record Type</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_Connections_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Connections_Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Team_Status</targetReference>
            </connector>
            <label>Community Connections - Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Team_Status</name>
        <label>Contract Team Status</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Team_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Agreement_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Agreement_Type</name>
        <label>Opportunity Agreement Type</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Type_to_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bulk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BULK-EMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_James_Dodd_user</targetReference>
            </connector>
            <label>Bulk/Bulk-EMA</label>
        </rules>
        <rules>
            <name>Others</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMA-DOORFEEONLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMA-DOOR-REVSHARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMA-REVSHAREONLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <description>Enhanced version v2</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger: Contract After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Contract After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_James_Dodd_user</name>
        <label>Get James Dodd user</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>James Dodd</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Owner_Id_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Type_and_Owner</name>
        <label>Update Account Type and Owner</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Send_Bell_Notification2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varT_AccountOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Type_to_Active</name>
        <label>Update Account Type to Active</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Account_Type_and_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed/Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Record_Type</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Bell_Notification2</name>
        <label>Send Bell Notification</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <flowName>Send_Bell_Notification_Subprocess</flowName>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientId</name>
            <value>
                <elementReference>varT_AccountOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Title</name>
            <value>
                <elementReference>NotifTitle</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Click on this notification to navigate to the Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotifTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Account assigned to you</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
