UCF-APR2.4/ftr main/force-app/main/default/flows/Record_Trigger_Lead_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <description>Account Management Case Record Type Id</description>
        <name>conT_AMRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120h000000CFeuAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_1_of_UserIsNull</name>
        <label>UserIsNull?</label>
        <locationX>666</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Assign_the_lead_to_User_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIdUserDefault.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_MDU_User_Assign_by_Territory</name>
        <label>Have MDU User Assign by Territory?</label>
        <locationX>666</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_have_a_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MDU_Users_By_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Assign_to_the_Territory</targetReference>
            </connector>
            <label>Yes, have a User</label>
        </rules>
        <rules>
            <name>No_don_t_have_a_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MDU_Users_By_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserDefault</targetReference>
            </connector>
            <label>No, don&apos;t have a User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_PAL_Lead</name>
        <label>Is a PAL Lead?</label>
        <locationX>622</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_PAL</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PAL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_queue</targetReference>
            </connector>
            <label>Yes, is PAL</label>
        </rules>
        <rules>
            <name>No_isn_t_PAL</name>
            <conditionLogic>(1 AND 2) OR 3 OR (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PAL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StateCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MDU_Users_By_Territory</targetReference>
            </connector>
            <label>No, isn&apos;t PAL or NEW</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_it_MDU_RT</name>
        <label>is it MDU RT?</label>
        <locationX>1040</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDU Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_a_PAL_Lead</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Lead</name>
        <label>Is New Lead?</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>is_it_MDU_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Status_Account_Creation</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Account_Creation</name>
        <label>Is Status Account Creation?</label>
        <locationX>886</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>is_it_MDU_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSO_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserIsNull</name>
        <label>UserIsNull?</label>
        <locationX>402</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_to_BDM_AE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Assign_to_the_Territory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserDefault</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Account creation implementation v1.2</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_AMCaseDescription</name>
        <dataType>String</dataType>
        <expression>&apos;This case was created automatically, please create Account for this Lead:  &apos; &amp; 
LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;,$Api.Partner_Server_URL_260)) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record Trigger: Lead After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Lead After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Management_Case</name>
        <label>Create Account Management Case</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>is_it_MDU_RT</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forT_AMCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CSO_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>conT_AMRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Account Creation Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Commercial_Sales_Operations queue</description>
        <name>Get_CSO_Queue</name>
        <label>Get CSO Queue</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Management_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial_Sales_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MDU_Users_By_Territory</name>
        <label>Get MDU Users By Territory</label>
        <locationX>666</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_MDU_User_Assign_by_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MDU_Users_By_Territory__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_queue</name>
        <label>Get PAL queue</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PAL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Assign_to_the_Territory</name>
        <label>Get User Assign to the Territory</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserIsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MDU_Users_By_Territory.BDM_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIdUserDefault</name>
        <label>GetIdUserDefault</label>
        <locationX>666</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_UserIsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUserDefault.Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserDefault</name>
        <label>GetUserDefault</label>
        <locationX>666</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIdUserDefault</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Lead After Save</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UserDefault</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MDU_Variable_Reference__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lead_to_BDM_AE</name>
        <label>Assign Lead to BDM/AE</label>
        <locationX>490</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Assign_to_the_Territory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_the_lead_to_User_Default</name>
        <label>Assign the lead to User Default</label>
        <locationX>798</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetIdUserDefault.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Owner</name>
        <label>Change Lead Owner to PAL</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Lead</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>798</locationX>
        <locationY>2387</locationY>
        <flowName>Send_Bell_Notification_Subprocess</flowName>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>Body_Notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientId</name>
            <value>
                <elementReference>GetIdUserDefault.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Title</name>
            <value>
                <elementReference>Title_Notification</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Body_Notification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A new lead has been assigned to you. Click on this notification to navigate to the Lead</stringValue>
        </value>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title_Notification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Lead assigned to you</stringValue>
        </value>
    </variables>
</Flow>
