UCF-APR2.4/ftr main/force-app/main/default/flows/Sales_Engineering_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Reassign_Reason_to_Chatter</name>
        <label>Post to Reassign Reason to Chatter</label>
        <locationX>742</locationX>
        <locationY>371</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Use_Queue_Routing_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Reassignment_Reason</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Reassign_Reason_to_Chatter_0</name>
        <label>Post to Reassign Reason to Chatter</label>
        <locationX>754</locationX>
        <locationY>495</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Use_Queue_Routing</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Reassign_Reason_to_Chatter_0_0</name>
        <label>Post to Reassign Reason to Chatter</label>
        <locationX>756</locationX>
        <locationY>630</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Use_Queue_Routing_1</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Additional_Comments_0</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Reassign_Reason_to_Chatter_1</name>
        <label>Post to Reassign Reason to Chatter</label>
        <locationX>1494</locationX>
        <locationY>86</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SE_Additional_Coments</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Central</name>
        <choiceText>Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>East</name>
        <choiceText>East</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>East</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mid_Atlantic</name>
        <choiceText>Mid-Atlantic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mid-Atlantic</stringValue>
        </value>
    </choices>
    <choices>
        <name>National</name>
        <choiceText>National</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed</name>
        <choiceText>Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReassignChoice</name>
        <choiceText>Reassign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassign</stringValue>
        </value>
    </choices>
    <choices>
        <name>South</name>
        <choiceText>South</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>South</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsupported_Team</name>
        <choiceText>Unsupported Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsupported Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>West</name>
        <choiceText>West</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>West</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BDT_Question0</name>
        <label>BDT Question</label>
        <locationX>769</locationX>
        <locationY>85</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BDT_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_BDT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_BDT_Number_Question</targetReference>
            </connector>
            <label>BDT is Yes</label>
        </rules>
        <rules>
            <name>BDT_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_BDT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Engineering_Request_is_Complete</targetReference>
            </connector>
            <label>BDT is No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_or_Cancel</name>
        <label>Proceed or Cancel</label>
        <locationX>77</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>oProceed_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Comment_Screen_AE</targetReference>
            </connector>
            <label>Proceed AE</label>
        </rules>
        <rules>
            <name>Proceed_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Send_back_choice</targetReference>
            </connector>
            <label>Proceed SE</label>
        </rules>
        <rules>
            <name>Proceed_Return_to_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Comment_Screen_AE_0</targetReference>
            </connector>
            <label>Proceed - Return to SE</label>
        </rules>
        <rules>
            <name>oCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancelScreen</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_back_to_Originator_question</name>
        <label>Send back to Originator question</label>
        <locationX>483</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sendback_Choice_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Send_it_back_to_the_originator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Comment_Screen</targetReference>
            </connector>
            <label>Sendback Choice Yes</label>
        </rules>
        <rules>
            <name>Sendback_Choice_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Send_it_back_to_the_originator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BDT_Question</targetReference>
            </connector>
            <label>Sendback Choice No</label>
        </rules>
    </decisions>
    <interviewLabel>Sales Engineering Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Engineering Request</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Record_BDT_Number</name>
        <label>Record BDT Number</label>
        <locationX>1092</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Sales_Engineering_Request_is_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BDT_Number__c</field>
            <value>
                <elementReference>What_is_the_BDT_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Support_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Engineering_Request_is_Complete</name>
        <label>Sales Engineering Request is Complete</label>
        <locationX>1094</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>SE_Additional_Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Support_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Use_Queue_Routing</name>
        <label>Use Queue Routing</label>
        <locationX>971</locationX>
        <locationY>497</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vQueueRouting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>vOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Waiting Assignment</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Support_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Use_Queue_Routing_0</name>
        <label>Use Queue Routing</label>
        <locationX>951</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vQueueRouting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>vOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Information</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Support_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Use_Queue_Routing_1</name>
        <label>Use Queue Routing</label>
        <locationX>973</locationX>
        <locationY>632</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vQueueRouting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>vOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Support_Request__c</object>
    </recordUpdates>
    <screens>
        <name>BDT_Question</name>
        <label>BDT Question</label>
        <locationX>580</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BDT_Question0</targetReference>
        </connector>
        <fields>
            <name>Is_there_a_BDT</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a BDT?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CancelScreen</name>
        <label>CancelScreen</label>
        <locationX>311</locationX>
        <locationY>72</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancelMessage</name>
            <fieldText>The process has been cancelled and no change has occurred.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Flow</name>
        <label>Confirmation Flow</label>
        <locationX>76</locationX>
        <locationY>90</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed_or_Cancel</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_Continue</name>
            <choiceReferences>Proceed</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to Continue?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reassign_Comment_Screen</name>
        <label>Reassign Comment Screen</label>
        <locationX>569</locationX>
        <locationY>373</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_Reassign_Reason_to_Chatter</targetReference>
        </connector>
        <fields>
            <name>Reassignment_Reason</name>
            <fieldText>Why are you sending it back?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reassign_Comment_Screen_AE</name>
        <label>Reassign back to SE Comment Screen</label>
        <locationX>559</locationX>
        <locationY>488</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_Reassign_Reason_to_Chatter_0</targetReference>
        </connector>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reassign_Comment_Screen_AE_0</name>
        <label>Reassign back to SE Comment Screen</label>
        <locationX>561</locationX>
        <locationY>623</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_Reassign_Reason_to_Chatter_0_0</targetReference>
        </connector>
        <fields>
            <name>Additional_Comments_0</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SE_Additional_Comments</name>
        <label>SE Additional Comments</label>
        <locationX>1303</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_Reassign_Reason_to_Chatter_1</targetReference>
        </connector>
        <fields>
            <name>SE_Additional_Coments</name>
            <fieldText>Additional Coments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SE_Send_back_choice</name>
        <label>SE Send back choice</label>
        <locationX>311</locationX>
        <locationY>243</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_back_to_Originator_question</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_Send_it_back_to_the_originator</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to send it back to the previous owner?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_is_the_BDT_Number_Question</name>
        <label>What is the BDT Number Question</label>
        <locationX>905</locationX>
        <locationY>196</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_BDT_Number</targetReference>
        </connector>
        <fields>
            <name>What_is_the_BDT_Number</name>
            <dataType>String</dataType>
            <fieldText>What is the BDT Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Confirmation_Flow</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>vOriginator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueueRouting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSendbackto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
