UCF-APR2.4/ftr main/force-app/main/default/flows/Sales_Engineering_Status_and_Owner_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Network_Set_New_Status</name>
        <label>Network Set New Status</label>
        <locationX>578</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>SalesEngineeringRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Network_Record_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Network_Set_Status_Assigned</name>
        <label>Network Set Status Assigned</label>
        <locationX>353</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>SalesEngineeringRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Network_Record_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Type_Choice</name>
        <label>Record Type Choice</label>
        <locationX>462</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sales_Engineering_Request</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sales_Engineering_Request_RecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.Rejected__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesEngineeringRequest_RT_OwnerCheck</targetReference>
            </connector>
            <label>Sales Engineering Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesEngineeringRequest_RT_OwnerCheck</name>
        <label>SalesEngineeringRequest_RT_OwnerCheck</label>
        <locationX>459</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Queue</name>
            <conditionLogic>(1 OR 2 OR 5) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesEngineeringNetwork_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesEngineeringCPE_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.Rejected__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloudManagedSolutionQueue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Network_Set_New_Status</targetReference>
            </connector>
            <label>Owner is Queue</label>
        </rules>
        <rules>
            <name>Owner_is_User</name>
            <conditionLogic>(1 OR 2 OR 5) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SalesEngineeringNetwork_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SalesEngineeringCPE_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.Rejected__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesEngineeringRequest.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CloudManagedSolutionQueue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Network_Set_Status_Assigned</targetReference>
            </connector>
            <label>Owner is User</label>
        </rules>
    </decisions>
    <interviewLabel>Sales Engineering Status and Owner Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Engineering Status and Owner Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Network_Record_Status</name>
        <label>Set Network Record Status</label>
        <locationX>474</locationX>
        <locationY>382</locationY>
        <inputReference>SalesEngineeringRequest</inputReference>
    </recordUpdates>
    <startElementReference>Record_Type_Choice</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CloudManagedSolutionQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G0h000003Fb90</stringValue>
        </value>
    </variables>
    <variables>
        <name>CPE_SERF_E911_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0120L000000VmfPQAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>CPE_SERF_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0120L000000VmfOQAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>Sales_Engineering_Request_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0120L000000NMYSQA4</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesEngineeringCPE_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G0L000003ywyNUAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesEngineeringNetwork_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G0L000003ywyOUAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesEngineeringRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Engineering_Support_Request__c</objectType>
    </variables>
</Flow>
