UCF-APR2.4/ftr main/force-app/main/default/flows/Screen_Flow_MDU_Proposal_Option_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Names_to_Variable</name>
        <label>Assign Names to Variable</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarT_OptionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Populate_Names_to_variable.Option_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Names_to_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>290</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarN_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_MDU_Oppty_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_records_exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_records_exists</name>
        <label>Do records exists</label>
        <locationX>290</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Show_record_count_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MDU_Oppty_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Names_to_variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Hint Fixes v2</description>
    <environments>Default</environments>
    <interviewLabel>Screen_Flow_MDU_Proposal_Option_Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow MDU Proposal Option Approval Flow</label>
    <loops>
        <name>Loop_records</name>
        <label>Loop records</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_MDU_Oppty_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Message_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Populate_Names_to_variable</name>
        <label>Populate Names to variable</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_MDU_Oppty_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Names_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_record_count_message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_MDU_Oppty_Items</name>
        <label>Get MDU Oppty Items</label>
        <locationX>290</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_OpptyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MDU_Proposal_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Show_record_count_message</name>
        <label>Show record count message</label>
        <locationX>530</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Record_Count_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;There are no records to submit for approval.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hint_No_Records_For_Approval</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;💡&lt;span style=&quot;font-size: 12px;&quot;&gt;Hint: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There should be at least one MDU Proposal Option with Status = &apos;New&apos; to be able to submit for approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>End</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 17, 17); font-size: 16px;&quot;&gt;An unexpected error occurred!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hint_Qualification</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;💡&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Hint: You might want to check whether the Opportunity&apos;s Stage is qualified for submission to approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_record_count_message</name>
        <label>Show record count message</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_records</targetReference>
        </connector>
        <fields>
            <name>Record_Count_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Total number of MDU Proposal Options:  {!VarN_Count}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 81, 89); font-size: 16px;&quot;&gt;{!VarT_OptionNames}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hint_Submit_For_Approval</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;💡&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Hint: If you click &apos;Submit for approval,&apos; all the MDU Proposal Options shown above will be submitted for approval. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit for approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(11, 11, 11); font-size: 16px;&quot;&gt;{!VarN_Count} records successfully sent for approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hint_Close_Btn</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;💡&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Hint: All done! Hit the &apos;Close&apos; button, and it will redirect you to the Opportunity record. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MDU_Oppty_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarN_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarT_OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_OptionNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
