UCF-APR2.4/ftr main/force-app/main/default/flows/SF_Order_IOF_Engineering_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Engineer_Post_to_Chatter</name>
        <label>Engineer Post to Chatter</label>
        <locationX>743</locationX>
        <locationY>170</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Re_Route_to_OSP</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Rejection Reason: {!Engineer_Reject_Reason} -- {!Engineer_Rejection_Comments}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vRejectComment</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>IOF_Approval</name>
        <label>IOF Approval</label>
        <locationX>596</locationX>
        <locationY>28</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IOF_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Engineering_Approve_Reject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_Project_Manager</targetReference>
            </connector>
            <label>IOF Approve</label>
        </rules>
        <rules>
            <name>IOF_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Engineering_Approve_Reject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engineer_Rejection_Reason</targetReference>
            </connector>
            <label>IOF Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>QueueMember_Yes_No</name>
        <label>IOF QueueMember Yes/No</label>
        <locationX>188</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Non_IOF_Member_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Queue_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGroupMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IOF_Engineer_Approve_Reject</targetReference>
            </connector>
            <label>Queue Member</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RejectReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reject_Reason__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>SF Order - IOF Engineering Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Order - IOF Engineering Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_Group_Membership</name>
        <label>Check Group Membership</label>
        <locationX>28</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueueMember_Yes_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G3C000000Kd0AUAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>vGroupMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Re_Route_to_OSP</name>
        <label>Re-Route to OSP</label>
        <locationX>880</locationX>
        <locationY>167</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Stage__c</field>
            <value>
                <stringValue>Rejected to OSP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0L000003K0b0UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reject_Reason__c</field>
            <value>
                <elementReference>Engineer_Reject_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Route_to_Project_Manager</name>
        <label>Route to Project Manager</label>
        <locationX>823</locationX>
        <locationY>24</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Stage__c</field>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GE00000036BVUMA2</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Engineer_Rejection_Reason</name>
        <label>Engineer Rejection Reason</label>
        <locationX>598</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Engineer_Post_to_Chatter</targetReference>
        </connector>
        <fields>
            <name>Engineer_Reject_Reason</name>
            <choiceReferences>RejectReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Engineer_Rejection_Comments</name>
            <fieldText>Rejection Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IOF_Engineer_Approve_Reject</name>
        <label>IOF Engineer Approve/Reject</label>
        <locationX>433</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IOF_Approval</targetReference>
        </connector>
        <fields>
            <name>Engineering_Approve_Reject</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approve/Reject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Non_IOF_Member_Error</name>
        <label>Non-IOF Member Error</label>
        <locationX>184</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowErrorNonSE</name>
            <fieldText>ERROR:

Only members of the IOF Engineering order queue can progress this order. Please ensure that the order is in the correct &quot;Order Stage&quot;. If it is not, please direct progression of this order to the correct parties.

Owner: {!vOwnerName}
Queue: {!vStatus}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Check_Group_Membership</startElementReference>
    <status>Active</status>
    <variables>
        <name>vAccountExec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vGroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRejectComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
