UCF-APR2.4/ftr main/force-app/main/default/flows/Test_Create_Budget_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Required_By</name>
        <label>Assign Required By</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>budgetLine.Required_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Required_By_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreaValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Labor_Assign_Required_By</name>
        <label>Contract Labor Assign Required By</label>
        <locationX>622</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>budgetLine.Required_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Labor_Required_By_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreaValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContractLaborUpdateBudgetLine</name>
        <label>Contract Labor Update Budget Line</label>
        <locationX>622</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Labor_Cost_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Labor_Unit_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Budget_Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Account_Code_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_4_of_AccountCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.CommodityCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Labor_Commodity_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Labor_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_NeedPO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_UpdatebudgetLine</name>
        <label>Copy 1 of UpdatebudgetLine</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Cost_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Budget_Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.PO_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Required_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Required_By</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Ship_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShipTo.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Release_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Release_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Account_Code_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_AccountCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityMaterial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreaValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_UpdatebudgetLine</name>
        <label>Copy 2 of UpdatebudgetLine</label>
        <locationX>1194</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Cost_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Budget_Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Account_Code_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_AccountCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityRetirement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreaValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_UpdatebudgetLine</name>
        <label>Copy 3 of UpdatebudgetLine</label>
        <locationX>1458</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_3_of_Cost_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Unit_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Budget_Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Account_Code_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_3_of_AccountCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.CommodityCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Commodity_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreaValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatebudgetLine</name>
        <label>UpdatebudgetLine</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Unit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Cost_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Budget_Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Account_Code_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.CommodityCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commodity_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>budgetLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NeedPO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreaValidation</name>
        <label>AreaValidation</label>
        <locationX>952</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>ProjectApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreaInputValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Area</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>BudgetAmountType</name>
        <label>BudgetAmountType</label>
        <locationX>952</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>AreaValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Details</targetReference>
            </connector>
            <label>Hours</label>
        </rules>
        <rules>
            <name>Contract_Labor_Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Labor (Total)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Labor_Line_Details</targetReference>
            </connector>
            <label>Contract Labor Total</label>
        </rules>
        <rules>
            <name>Material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialDetails</targetReference>
            </connector>
            <label>Material</label>
        </rules>
        <rules>
            <name>Retirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetirementDetails</targetReference>
            </connector>
            <label>Retirement</label>
        </rules>
        <rules>
            <name>Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Budget_Vendor_Pricing_Line__r.Budget_Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Details</targetReference>
            </connector>
            <label>Total</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_NeedPO</name>
        <label>Copy 1 of NeedPO?</label>
        <locationX>622</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Contract_Labor_Assign_Required_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractLaborPO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Cost_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>343</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>budgetLine.Cost_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>344</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>budgetLine.Cost_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>345</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractLaborMoreDetail</targetReference>
            </connector>
            <label>Contract Labor PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>NeedPO</name>
        <label>NeedPO?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Assign_Required_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NeedsPO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Cost_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>343</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>budgetLine.Cost_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>344</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>budgetLine.Cost_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>345</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MoreDetail</targetReference>
            </connector>
            <label>NeedsPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoPricingLine</name>
        <label>NoPricingLine</label>
        <locationX>952</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>BudgetAmountType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Pricing_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budgetLine.Budget_Vendor_Pricing_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>budgetLine.Budget_Vendor_Pricing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BVPLEmptymessage</targetReference>
            </connector>
            <label>Empty Pricing Line</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectApproved</name>
        <label>ProjectApproved</label>
        <locationX>952</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>CreateHoursBudgetLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectApprovalValidaation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CostCodeCoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cost_Code__c</picklistField>
        <picklistObject>Budget_Line__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PORequired</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PO_Required__c</picklistField>
        <picklistObject>Budget_Line__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AreaInputValidation</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
       OR(
             LEFT({!budgetLine.Account_Code_Lookup__r.Name},1) = &quot;6&quot;,
             LEFT({!budgetLine.Account_Code_Lookup__r.Name},1) = &quot;9&quot;
            ),
     ISPICKVAL( {!budgetLine.Area__c} , &quot;000-Generic Area Default&quot;)
     )</expression>
    </formulas>
    <formulas>
        <description>Unit Amount (read only) formatted as currency</description>
        <name>FormattedUnitAmount</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + text(floor({!budgetLine.Budget_Vendor_Pricing_Line__r.Amount__c})) + &quot;.&quot; + right(text((1+{!budgetLine.Budget_Vendor_Pricing_Line__r.Amount__c} - floor({!budgetLine.Budget_Vendor_Pricing_Line__r.Amount__c}))*100),2)</expression>
    </formulas>
    <formulas>
        <description>Checks if the project is approved</description>
        <name>ProjectApprovalValidaation</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
       ISPICKVAL({!budgetLine.Budget__r.Project__r.Approval_Status__c}, &quot;Infinium Approved&quot;),
       ISBLANK({!budgetLine.Change_Request__c}))</expression>
    </formulas>
    <interviewLabel>Test Create Budget Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Budget Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateHoursBudgetLine</name>
        <label>CreateHoursBudgetLine</label>
        <locationX>952</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultPath</targetReference>
        </faultConnector>
        <inputReference>budgetLine</inputReference>
    </recordCreates>
    <screens>
        <name>BVPLEmptymessage</name>
        <label>BVPLEmptymessage</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BudgetAmountType</targetReference>
        </connector>
        <fields>
            <name>EmptyBVPLMessage</name>
            <fieldText>&lt;p&gt;Return to previous page and enter values for budget vendor pricing and budget vendor pricing line&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Labor_Line_Details</name>
        <label>Contract Labor Line Details</label>
        <locationX>622</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContractLaborUpdateBudgetLine</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Labor_Line_Details</name>
            <fieldText>Labor Line Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Labor_Line_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Labor_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Copy_4_of_AccountCode</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account_Code_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Budget_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>budgetLine.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Description__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Contract_Labor_Commodity_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Commodity Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Commodity Code max 30 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Commodity_Code}) &lt;= 30</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Labor_Line_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Labor_Unit_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Unit Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Contract_Labor_Cost_Code</name>
                    <choiceReferences>CostCodeCoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>budgetLine.Cost_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Vendor__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Area__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContractLaborMoreDetail</name>
        <label>Contract Labor More Detail</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contract_Labor_Assign_Required_By</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_PO_Details</name>
            <fieldText>PO Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_PO_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Labor_Required_By_Hours</name>
                    <dataType>Date</dataType>
                    <fieldText>Required By</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.PO_Required__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_PO_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Release_To__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Ship_To__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateBudgetLine</name>
        <label>BudgetLine</label>
        <locationX>952</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NoPricingLine</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>budgetLine.Budget_Vendor_Pricing__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>budgetLine.Budget_Vendor_Pricing_Line__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultPath</name>
        <label>FaultPath</label>
        <locationX>1898</locationX>
        <locationY>2066</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;Your budget line failed to create. Please contact your administrator for more details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Area</name>
        <label>Invalid Area</label>
        <locationX>820</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProjectApproved</targetReference>
        </connector>
        <fields>
            <name>AreaErrorDisplay</name>
            <fieldText>&lt;p&gt;Area Cannot be 000 for expense line&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Details</name>
        <label>Line Details</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatebudgetLine</targetReference>
        </connector>
        <fields>
            <name>Labor_Line_Details</name>
            <fieldText>Labor Line Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Labor_Line_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>AccountCode</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account_Code_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Budget_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>budgetLine.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Description__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Commodity_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Commodity Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Commodity Code max 30 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Commodity_Code}) &lt;= 30</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Labor_Line_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LaborUnitAmount</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;UnitAmount:&lt;/p&gt;&lt;p&gt;{!FormattedUnitAmount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Cost_Code</name>
                    <choiceReferences>CostCodeCoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>budgetLine.Cost_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Vendor__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Area__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MaterialDetails</name>
        <label>MaterialDetails</label>
        <locationX>930</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_UpdatebudgetLine</targetReference>
        </connector>
        <fields>
            <name>Materials_Line_Details</name>
            <fieldText>Materials Line Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Materials_Line_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Budget__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Copy_1_of_Cost_Code</name>
                    <choiceReferences>CostCodeCoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>budgetLine.Cost_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_AccountCode</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account_Code_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Budget_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>budgetLine.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>QuantityMaterial</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>PO_Required</name>
                    <choiceReferences>PORequired</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>PO Required</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ShipTo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Ship_To__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Ship To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Budget_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Vendor__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Item</name>
                    <fieldText>&lt;p&gt;Item:&lt;/p&gt;&lt;p&gt;{!budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__r.Item__r.Item_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ItemDescription</name>
                    <fieldText>&lt;p&gt;Item Description:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__r.Item__r.sitetracker__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Materials_Line_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UnitAmount</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unit Amount:&lt;/p&gt;&lt;p&gt;{!FormattedUnitAmount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Required_By</name>
                    <dataType>Date</dataType>
                    <fieldText>Required By</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Required By Date must be a weekday&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( 
      {!Required_By} &gt;= TODAY(),
      NOT(CASE(MOD(  {!Required_By} - DATE(1900, 1, 7), 7),
0, 0,
6, 0,
1) = 0))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Release_To</name>
                    <dataType>String</dataType>
                    <fieldText>Release To</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Area__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Description__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Unit_of_Measure_Text__c</objectFieldReference>
                </fields>
                <fields>
                    <name>VendorNumber</name>
                    <fieldText>&lt;p&gt;Vendor Number:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__r.Item__r.Vendor_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MFGPartNumber</name>
                    <fieldText>&lt;p&gt;Manufacturing Part Number:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!budgetLine.Budget_Vendor_Pricing_Line__r.Cost_Category__r.Item__r.sitetracker__Manufacturer_Part_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Material_Requistion_Detail_Notes</name>
            <fieldText>Material Requistion Detail Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>budgetLine.Is_Taxable__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MoreDetail</name>
        <label>MoreDetail</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Required_By</targetReference>
        </connector>
        <fields>
            <name>PO_Details</name>
            <fieldText>PO Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PO_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Required_By_Hours</name>
                    <dataType>Date</dataType>
                    <fieldText>Required By</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.PO_Required__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PO_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Release_To__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Ship_To__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Approved</name>
        <label>Project Approved</label>
        <locationX>820</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateHoursBudgetLine</targetReference>
        </connector>
        <fields>
            <name>ApprovalMessage</name>
            <fieldText>&lt;p&gt;Project is approved. Navigate to Change Request page to create new line&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RetirementDetails</name>
        <label>RetirementDetails</label>
        <locationX>1194</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_UpdatebudgetLine</targetReference>
        </connector>
        <fields>
            <name>Retirement_Line_Details</name>
            <fieldText>Retirement Line Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Retirement_Line_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QuantityRetirement</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Copy_2_of_AccountCode</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account_Code_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Budget_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>budgetLine.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Retirement_Line_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_Cost_Code</name>
                    <choiceReferences>CostCodeCoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>budgetLine.Cost_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>952</locationX>
        <locationY>2066</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Budget Line Successfully Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Total_Details</name>
        <label>Total_Details</label>
        <locationX>1458</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_UpdatebudgetLine</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Labor_Line_Details</name>
            <fieldText>Line Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Labor_Line_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Copy_3_of_AccountCode</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account_Code_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Budget_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>budgetLine.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Description__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Copy_1_of_Commodity_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Commodity Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Commodity Code max 30 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Commodity_Code}) &lt;= 30</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Labor_Line_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_Unit_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>budgetLine.Budget_Vendor_Pricing_Line__r.Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>Unit Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Copy_3_of_Cost_Code</name>
                    <choiceReferences>CostCodeCoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>budgetLine.Cost_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Vendor__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>budgetLine.Area__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>826</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateBudgetLine</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>budgetLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
