UCF-APR2.4/ftr main/force-app/main/default/flows/UcaaS_Reassignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignTeamChoice</name>
        <label>AssignTeamChoice</label>
        <locationX>1152</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>vOrderTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Team_Choices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dp_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Territory_Vars</name>
        <label>Get Territory Vars</label>
        <locationX>2205</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>vTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OTA.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Territory_POD</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_CPE_COE</name>
        <choiceText>CPE COE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPE COE</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CPE_DCS</name>
        <choiceText>CPE DCS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPE DCS</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_HOTCUT</name>
        <choiceText>Hot Cut</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hot Cut</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Network_COE</name>
        <choiceText>Network COE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Network COE</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_VoIP_Translations</name>
        <choiceText>VoIP Translations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VoIP Translations</stringValue>
        </value>
    </choices>
    <constants>
        <name>CPECOE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPE COE</stringValue>
        </value>
    </constants>
    <constants>
        <name>CPEDCS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPE DCS</stringValue>
        </value>
    </constants>
    <constants>
        <name>HotCut</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hot Cut</stringValue>
        </value>
    </constants>
    <constants>
        <name>NetworkCOE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Network COE</stringValue>
        </value>
    </constants>
    <constants>
        <name>VTRANS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VoIP Translations</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dp_Assignment</name>
        <label>Assignment</label>
        <locationX>1374</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CPE_DCS_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CPEDCS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_CPEDCS_Assignment</targetReference>
            </connector>
            <label>CPE DCS Assignment</label>
        </rules>
        <rules>
            <name>HOTCUT_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HotCut</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_HOTCUT_Assignment</targetReference>
            </connector>
            <label>HOTCUT Assignment</label>
        </rules>
        <rules>
            <name>CPE_COE_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CPECOE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_CPE_COE_Assignment</targetReference>
            </connector>
            <label>CPE COE Assignment</label>
        </rules>
        <rules>
            <name>VTRANS_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VTRANS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_VTrans_Assignment</targetReference>
            </connector>
            <label>VTRANS Assignment</label>
        </rules>
        <rules>
            <name>Network_COE_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NetworkCOE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OTAs</targetReference>
            </connector>
            <label>Network COE Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>dp_Order_Team_Selection</name>
        <label>Order Team Selection</label>
        <locationX>680</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>scn_MultiTeam_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Team_is_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_Team_Choices</targetReference>
            </connector>
            <label>Order Team is Admin</label>
        </rules>
        <rules>
            <name>Order_Team_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_Undefined_User_Type</targetReference>
            </connector>
            <label>Order Team is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>POD_Null_Check</name>
        <label>POD Null Check</label>
        <locationX>2202</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>scn_Broadband_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>POD_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPOD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_OTAs</targetReference>
            </connector>
            <label>POD is Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dc_BTRANSTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VOIP Translations</stringValue>
            </value>
        </filters>
        <object>Order_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vOrderTeamMemberId</assignToReference>
            <field>Order_Team_Member__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dc_COEBB_OrderTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Network COE</stringValue>
            </value>
        </filters>
        <filters>
            <field>POD_Assignment_formula__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>vPOD</elementReference>
            </value>
        </filters>
        <object>Order_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vOrderTeamMemberId</assignToReference>
            <field>Order_Team_Member__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dc_CPECOE_OrderTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPECOE_State_formula__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>vBillingStateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CPECOE</elementReference>
            </value>
        </filters>
        <object>Order_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vOrderTeamMemberId</assignToReference>
            <field>Order_Team_Member__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dc_CPEDCS_OrderTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CPEDCS</elementReference>
            </value>
        </filters>
        <object>Order_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vOrderTeamMemberId</assignToReference>
            <field>Order_Team_Member__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dc_HOTCUT_OrderTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HotCut</elementReference>
            </value>
        </filters>
        <object>Order_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vOrderTeamMemberId</assignToReference>
            <field>Order_Team_Member__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dc_MultiTeamSelection</name>
        <dataType>String</dataType>
        <displayField>Order_Team__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </filters>
        <object>Order_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vOrderTeam</assignToReference>
            <field>Order_Team__c</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>UcaaS Reassignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UcaaS Reassignment</label>
    <loops>
        <name>Loop_Thru_OTAs</name>
        <label>Loop Thru OTAs</label>
        <locationX>1956</locationX>
        <locationY>60</locationY>
        <assignNextValueToReference>loop_OTA</assignNextValueToReference>
        <collectionReference>list_OTAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Territory_Vars</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Vars_0</name>
        <label>Get Order Vars</label>
        <locationX>219</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>vAcctID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBillingStateCode</assignToReference>
            <field>BillingStateCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_OTAs</name>
        <label>Get OTAs</label>
        <locationX>1721</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_OTAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAcctID</elementReference>
            </value>
        </filters>
        <object>ObjectTerritory2Association</object>
        <outputReference>list_OTAs</outputReference>
        <queriedFields>Territory2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_POD</name>
        <label>Get Territory POD</label>
        <locationX>2415</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POD_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTerritoryID</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputAssignments>
            <assignToReference>vPOD</assignToReference>
            <field>POD_Assignment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>425</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dp_Order_Team_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </filters>
        <object>Order_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>vOrderTeam</assignToReference>
            <field>Order_Team__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOTMPOD</assignToReference>
            <field>POD_Assignment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CPECOE_Reassign</name>
        <label>Reassign</label>
        <locationX>2121</locationX>
        <locationY>665</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPE_COE__c</field>
            <value>
                <elementReference>vOrderTeamMemberId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>CPEDCS_Reassign</name>
        <label>Reassign</label>
        <locationX>2122</locationX>
        <locationY>327</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPE_DCS__c</field>
            <value>
                <elementReference>vOrderTeamMemberId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>CPEDCS_Review_0</name>
        <label>Review</label>
        <locationX>2768</locationX>
        <locationY>172</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Broadband_COE__c</field>
            <value>
                <elementReference>vOrderTeamMemberId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>VPROV_Reassign</name>
        <label>Reassign</label>
        <locationX>2122</locationX>
        <locationY>433</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hot_Cut__c</field>
            <value>
                <elementReference>vOrderTeamMemberId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>VTrans_Reassign</name>
        <label>Reassign</label>
        <locationX>2120</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VoIP_Translations__c</field>
            <value>
                <elementReference>vOrderTeamMemberId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>scn_Broadband_Assignment</name>
        <label>Broadband Assignment</label>
        <locationX>2475</locationX>
        <locationY>171</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CPEDCS_Review_0</targetReference>
        </connector>
        <fields>
            <name>Network_COE</name>
            <choiceReferences>dc_COEBB_OrderTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Network COE</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_CPE_COE_Assignment</name>
        <label>CPE COE Assignment</label>
        <locationX>1718</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CPECOE_Reassign</targetReference>
        </connector>
        <fields>
            <name>label_CPE_COE</name>
            <choiceReferences>dc_CPECOE_OrderTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CPE COE</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_CPEDCS_Assignment</name>
        <label>CPEDCS Assignment</label>
        <locationX>1716</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CPEDCS_Reassign</targetReference>
        </connector>
        <fields>
            <name>label_CPE_DCS</name>
            <choiceReferences>dc_CPEDCS_OrderTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CPE DCS</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_HOTCUT_Assignment</name>
        <label>HOTCUT Assignment</label>
        <locationX>1715</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VPROV_Reassign</targetReference>
        </connector>
        <fields>
            <name>label_HOTCUT</name>
            <choiceReferences>dc_HOTCUT_OrderTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HOT CUT</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_MultiTeam_Choices</name>
        <label>MultiTeam Choices Screen</label>
        <locationX>1158</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dp_Assignment</targetReference>
        </connector>
        <fields>
            <name>Team_Selection</name>
            <choiceReferences>dc_MultiTeamSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_Team_Choices</name>
        <label>Team Choices Screen</label>
        <locationX>681</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignTeamChoice</targetReference>
        </connector>
        <fields>
            <name>Team_Choices</name>
            <choiceReferences>choice_CPE_DCS</choiceReferences>
            <choiceReferences>choice_HOTCUT</choiceReferences>
            <choiceReferences>choice_CPE_COE</choiceReferences>
            <choiceReferences>choice_VoIP_Translations</choiceReferences>
            <choiceReferences>choice_Network_COE</choiceReferences>
            <choiceReferences>choice_Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team Choices</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_Undefined_User_Type</name>
        <label>Undefined User Type</label>
        <locationX>1374</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UndefinedUserScreen</name>
            <fieldText>If you are trying to submit the order for approval, please click the submit for approval button.

Frontier Anyware Flow 1.0</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scn_VTrans_Assignment</name>
        <label>VTrans Assignment</label>
        <locationX>1714</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VTrans_Reassign</targetReference>
        </connector>
        <fields>
            <name>label_VoIP_Translations</name>
            <choiceReferences>dc_BTRANSTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VoIP Translations</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowVars</name>
        <label>ShowVars</label>
        <locationX>1952</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PathA</name>
            <fieldText>Path A

Order Team:  --{!vOrderTeam}--</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Order_Vars_0</startElementReference>
    <status>Active</status>
    <variables>
        <name>list_OTAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>loop_OTA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>vAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillingStateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOrderTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOTMPOD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPOD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
