UCF-APR2.4/ftr main/force-app/main/default/flows/Update_Task_Assigned_To.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssingSpecialistId</name>
        <label>AssingSpecialistId</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AssingTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Data.Network_Project_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assigned_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingUser</name>
        <label>AssingUser</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AssingTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Data.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assigned_To</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>UserSobjectTypeCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Specialist_Blank</name>
        <label>Is Implementation Specialist Blank</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>AssingSpecialistId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Data.Network_Project_Specialist__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssingUser</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OwnerIdSobjectTypeCode</name>
        <dataType>String</dataType>
        <expression>Left({!Get_Order_Data.OwnerId},3)</expression>
    </formulas>
    <interviewLabel>Update Task Assigned To {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Task Assigned To</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Data</name>
        <label>Get Order Data</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Specialist_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_To</name>
        <label>Update Assigned To</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssingTo</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Data</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.Name} = &apos;Order Correction&apos;, {!$Record.CreatedBy.Profile.Name} = &apos;Frontier Partner Portal User&apos;)</filterFormula>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssingTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
